/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.santd-steps {
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 100%;
  font-size: 0;
}
.santd-steps-item {
  position: relative;
  display: inline-block;
  flex: 1;
  overflow: hidden;
  vertical-align: top;
}
.santd-steps-item:last-child {
  flex: none;
}
.santd-steps-item:last-child > .santd-steps-item-tail,
.santd-steps-item:last-child > .santd-steps-item-content > .santd-steps-item-title::after {
  display: none;
}
.santd-steps-item-icon,
.santd-steps-item-content {
  display: inline-block;
  vertical-align: top;
}
.santd-steps-item-icon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  font-size: 16px;
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 32px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  transition: background-color 0.3s, border-color 0.3s;
}
.santd-steps-item-icon > .santd-steps-icon {
  position: relative;
  top: -1px;
  color: #1890ff;
}
.santd-steps-item-tail {
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  padding: 0 10px;
}
.santd-steps-item-tail::after {
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #e8e8e8;
  border-radius: 1px;
  transition: background 0.3s;
  content: '';
}
.santd-steps-item-title {
  position: relative;
  display: inline-block;
  padding-right: 16px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 16px;
  line-height: 32px;
}
.santd-steps-item-title::after {
  position: absolute;
  top: 16px;
  left: 100%;
  display: block;
  width: 9999px;
  height: 1px;
  background: #e8e8e8;
  content: '';
}
.santd-steps-item-description {
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
}
.santd-steps-item-wait .santd-steps-item-icon {
  background-color: #fff;
  border-color: rgba(0, 0, 0, 0.25);
}
.santd-steps-item-wait .santd-steps-item-icon > .santd-steps-icon {
  color: rgba(0, 0, 0, 0.25);
}
.santd-steps-item-wait .santd-steps-item-icon > .santd-steps-icon .santd-steps-icon-dot {
  background: rgba(0, 0, 0, 0.25);
}
.santd-steps-item-wait > .santd-steps-item-content > .santd-steps-item-title {
  color: rgba(0, 0, 0, 0.45);
}
.santd-steps-item-wait > .santd-steps-item-content > .santd-steps-item-title::after {
  background-color: #e8e8e8;
}
.santd-steps-item-wait > .santd-steps-item-content > .santd-steps-item-description {
  color: rgba(0, 0, 0, 0.45);
}
.santd-steps-item-wait > .santd-steps-item-tail::after {
  background-color: #e8e8e8;
}
.santd-steps-item-process .santd-steps-item-icon {
  background-color: #fff;
  border-color: #1890ff;
}
.santd-steps-item-process .santd-steps-item-icon > .santd-steps-icon {
  color: #1890ff;
}
.santd-steps-item-process .santd-steps-item-icon > .santd-steps-icon .santd-steps-icon-dot {
  background: #1890ff;
}
.santd-steps-item-process > .santd-steps-item-content > .santd-steps-item-title {
  color: rgba(0, 0, 0, 0.85);
}
.santd-steps-item-process > .santd-steps-item-content > .santd-steps-item-title::after {
  background-color: #e8e8e8;
}
.santd-steps-item-process > .santd-steps-item-content > .santd-steps-item-description {
  color: rgba(0, 0, 0, 0.65);
}
.santd-steps-item-process > .santd-steps-item-tail::after {
  background-color: #e8e8e8;
}
.santd-steps-item-process .santd-steps-item-icon {
  background: #1890ff;
}
.santd-steps-item-process .santd-steps-item-icon > .santd-steps-icon {
  color: #fff;
}
.santd-steps-item-process .santd-steps-item-title {
  font-weight: 500;
}
.santd-steps-item-finish .santd-steps-item-icon {
  background-color: #fff;
  border-color: #1890ff;
}
.santd-steps-item-finish .santd-steps-item-icon > .santd-steps-icon {
  color: #1890ff;
}
.santd-steps-item-finish .santd-steps-item-icon > .santd-steps-icon .santd-steps-icon-dot {
  background: #1890ff;
}
.santd-steps-item-finish > .santd-steps-item-content > .santd-steps-item-title {
  color: rgba(0, 0, 0, 0.65);
}
.santd-steps-item-finish > .santd-steps-item-content > .santd-steps-item-title::after {
  background-color: #1890ff;
}
.santd-steps-item-finish > .santd-steps-item-content > .santd-steps-item-description {
  color: rgba(0, 0, 0, 0.45);
}
.santd-steps-item-finish > .santd-steps-item-tail::after {
  background-color: #1890ff;
}
.santd-steps-item-error .santd-steps-item-icon {
  background-color: #fff;
  border-color: #f5222d;
}
.santd-steps-item-error .santd-steps-item-icon > .santd-steps-icon {
  color: #f5222d;
}
.santd-steps-item-error .santd-steps-item-icon > .santd-steps-icon .santd-steps-icon-dot {
  background: #f5222d;
}
.santd-steps-item-error > .santd-steps-item-content > .santd-steps-item-title {
  color: #f5222d;
}
.santd-steps-item-error > .santd-steps-item-content > .santd-steps-item-title::after {
  background-color: #e8e8e8;
}
.santd-steps-item-error > .santd-steps-item-content > .santd-steps-item-description {
  color: #f5222d;
}
.santd-steps-item-error > .santd-steps-item-tail::after {
  background-color: #e8e8e8;
}
.santd-steps-item.santd-steps-next-error .santd-steps-item-title::after {
  background: #f5222d;
}
.santd-steps-item[role='button'] {
  outline: none;
}
.santd-steps-item[role='button']:not(.santd-steps-item-process) {
  cursor: pointer;
}
.santd-steps-item[role='button']:not(.santd-steps-item-process) .santd-steps-item-title,
.santd-steps-item[role='button']:not(.santd-steps-item-process) .santd-steps-item-description,
.santd-steps-item[role='button']:not(.santd-steps-item-process) .santd-steps-item-icon .santd-steps-icon {
  transition: color 0.3s;
}
.santd-steps-item[role='button']:not(.santd-steps-item-process):hover .santd-steps-item-title,
.santd-steps-item[role='button']:not(.santd-steps-item-process):hover .santd-steps-item-description {
  color: #1890ff;
}
.santd-steps-item[role='button']:not(.santd-steps-item-process):hover .santd-steps-item-icon {
  border-color: #1890ff;
}
.santd-steps-item[role='button']:not(.santd-steps-item-process):hover .santd-steps-item-icon .santd-steps-icon {
  color: #1890ff;
}
.santd-steps-horizontal:not(.santd-steps-label-vertical) .santd-steps-item {
  margin-right: 16px;
  white-space: nowrap;
}
.santd-steps-horizontal:not(.santd-steps-label-vertical) .santd-steps-item:last-child {
  margin-right: 0;
}
.santd-steps-horizontal:not(.santd-steps-label-vertical) .santd-steps-item:last-child .santd-steps-item-title {
  padding-right: 0;
}
.santd-steps-horizontal:not(.santd-steps-label-vertical) .santd-steps-item-tail {
  display: none;
}
.santd-steps-horizontal:not(.santd-steps-label-vertical) .santd-steps-item-description {
  max-width: 140px;
  white-space: normal;
}
.santd-steps-item-custom .santd-steps-item-icon {
  height: auto;
  background: none;
  border: 0;
}
.santd-steps-item-custom .santd-steps-item-icon > .santd-steps-icon {
  top: 0;
  left: 0.5px;
  width: 32px;
  height: 32px;
  font-size: 24px;
  line-height: 32px;
}
.santd-steps-item-custom.santd-steps-item-process .santd-steps-item-icon > .santd-steps-icon {
  color: #1890ff;
}
.santd-steps:not(.santd-steps-vertical) .santd-steps-item-custom .santd-steps-item-icon {
  width: auto;
}
.santd-steps-small.santd-steps-horizontal:not(.santd-steps-label-vertical) .santd-steps-item {
  margin-right: 12px;
}
.santd-steps-small.santd-steps-horizontal:not(.santd-steps-label-vertical) .santd-steps-item:last-child {
  margin-right: 0;
}
.santd-steps-small .santd-steps-item-icon {
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 24px;
  font-size: 12px;
}
.santd-steps-small .santd-steps-item-title {
  font-size: 14px;
  line-height: 24px;
  padding-right: 12px;
}
.santd-steps-small .santd-steps-item-title:after {
  top: 12px;
}
.santd-steps-small .santd-steps-item-description {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
}
.santd-steps-small .santd-steps-item-tail {
  top: 8px;
  padding: 0 8px;
}
.santd-steps-small .santd-steps-item-custom .santd-steps-item-icon {
  width: inherit;
  height: inherit;
  line-height: inherit;
  border-radius: 0;
  border: 0;
  background: none;
}
.santd-steps-small .santd-steps-item-custom .santd-steps-item-icon > .santd-steps-icon {
  font-size: 24px;
  line-height: 24px;
  transform: none;
}
.santd-steps-vertical {
  display: block;
}
.santd-steps-vertical .santd-steps-item {
  display: block;
  overflow: visible;
}
.santd-steps-vertical .santd-steps-item-icon {
  float: left;
  margin-right: 16px;
}
.santd-steps-vertical .santd-steps-item-content {
  min-height: 48px;
  overflow: hidden;
  display: block;
}
.santd-steps-vertical .santd-steps-item-title {
  line-height: 32px;
}
.santd-steps-vertical .santd-steps-item-description {
  padding-bottom: 12px;
}
.santd-steps-vertical > .santd-steps-item > .santd-steps-item-tail {
  position: absolute;
  left: 16px;
  top: 0;
  height: 100%;
  width: 1px;
  padding: 38px 0 6px;
}
.santd-steps-vertical > .santd-steps-item > .santd-steps-item-tail:after {
  height: 100%;
  width: 1px;
}
.santd-steps-vertical > .santd-steps-item:not(:last-child) > .santd-steps-item-tail {
  display: block;
}
.santd-steps-vertical > .santd-steps-item > .santd-steps-item-content > .santd-steps-item-title:after {
  display: none;
}
.santd-steps-vertical.santd-steps-small .santd-steps-item-tail {
  position: absolute;
  left: 12px;
  top: 0;
  padding: 30px 0 6px;
}
.santd-steps-vertical.santd-steps-small .santd-steps-item-title {
  line-height: 24px;
}
@media (max-width: 480px) {
  .santd-steps-horizontal.santd-steps-label-horizontal {
    display: block;
  }
  .santd-steps-horizontal.santd-steps-label-horizontal .santd-steps-item {
    display: block;
    overflow: visible;
  }
  .santd-steps-horizontal.santd-steps-label-horizontal .santd-steps-item-icon {
    float: left;
    margin-right: 16px;
  }
  .santd-steps-horizontal.santd-steps-label-horizontal .santd-steps-item-content {
    min-height: 48px;
    overflow: hidden;
    display: block;
  }
  .santd-steps-horizontal.santd-steps-label-horizontal .santd-steps-item-title {
    line-height: 32px;
  }
  .santd-steps-horizontal.santd-steps-label-horizontal .santd-steps-item-description {
    padding-bottom: 12px;
  }
  .santd-steps-horizontal.santd-steps-label-horizontal > .santd-steps-item > .santd-steps-item-tail {
    position: absolute;
    left: 16px;
    top: 0;
    height: 100%;
    width: 1px;
    padding: 38px 0 6px;
  }
  .santd-steps-horizontal.santd-steps-label-horizontal > .santd-steps-item > .santd-steps-item-tail:after {
    height: 100%;
    width: 1px;
  }
  .santd-steps-horizontal.santd-steps-label-horizontal > .santd-steps-item:not(:last-child) > .santd-steps-item-tail {
    display: block;
  }
  .santd-steps-horizontal.santd-steps-label-horizontal > .santd-steps-item > .santd-steps-item-content > .santd-steps-item-title:after {
    display: none;
  }
  .santd-steps-horizontal.santd-steps-label-horizontal.santd-steps-small .santd-steps-item-tail {
    position: absolute;
    left: 12px;
    top: 0;
    padding: 30px 0 6px;
  }
  .santd-steps-horizontal.santd-steps-label-horizontal.santd-steps-small .santd-steps-item-title {
    line-height: 24px;
  }
}
.santd-steps-label-vertical .santd-steps-item {
  overflow: visible;
}
.santd-steps-label-vertical .santd-steps-item-tail {
  margin-left: 51px;
  padding: 3.5px 24px;
}
.santd-steps-label-vertical .santd-steps-item-content {
  display: block;
  width: 104px;
  margin-top: 8px;
  text-align: center;
}
.santd-steps-label-vertical .santd-steps-item-icon {
  display: inline-block;
  margin-left: 36px;
}
.santd-steps-label-vertical .santd-steps-item-title {
  padding-right: 0;
}
.santd-steps-label-vertical .santd-steps-item-title::after {
  display: none;
}
.santd-steps-label-vertical.santd-steps-small:not(.santd-steps-dot) .santd-steps-item-icon {
  margin-left: 40px;
}
.santd-steps-dot .santd-steps-item-title {
  line-height: 1.5;
}
.santd-steps-dot .santd-steps-item-tail {
  top: 2px;
  width: 100%;
  margin: 0 0 0 70px;
  padding: 0;
}
.santd-steps-dot .santd-steps-item-tail::after {
  width: calc(100% - 20px);
  height: 3px;
  margin-left: 12px;
}
.santd-steps-dot .santd-steps-item:first-child .santd-steps-icon-dot {
  left: 2px;
}
.santd-steps-dot .santd-steps-item-icon {
  width: 8px;
  height: 8px;
  margin-left: 67px;
  padding-right: 0;
  line-height: 8px;
  background: transparent;
  border: 0;
}
.santd-steps-dot .santd-steps-item-icon .santd-steps-icon-dot {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  transition: all 0.3s;
  /* expand hover area */
}
.santd-steps-dot .santd-steps-item-icon .santd-steps-icon-dot::after {
  position: absolute;
  top: -12px;
  left: -26px;
  width: 60px;
  height: 32px;
  background: rgba(0, 0, 0, 0.001);
  content: '';
}
.santd-steps-dot .santd-steps-item-content {
  width: 140px;
}
.santd-steps-dot .santd-steps-item-process .santd-steps-item-icon {
  width: 10px;
  height: 10px;
  line-height: 10px;
}
.santd-steps-dot .santd-steps-item-process .santd-steps-item-icon .santd-steps-icon-dot {
  top: -1px;
}
.santd-steps-vertical.santd-steps-dot .santd-steps-item-icon {
  margin-top: 8px;
  margin-left: 0;
}
.santd-steps-vertical.santd-steps-dot .santd-steps-item-tail {
  top: 2px;
  left: -9px;
  margin: 0;
  padding: 22px 0 4px;
}
.santd-steps-vertical.santd-steps-dot .santd-steps-item:first-child .santd-steps-icon-dot {
  left: 0;
}
.santd-steps-vertical.santd-steps-dot .santd-steps-item-process .santd-steps-icon-dot {
  left: -2px;
}
