/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.santd-spin {
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #1890ff;
  vertical-align: middle;
  text-align: center;
  opacity: 0;
  position: absolute;
  transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  display: none;
}
.santd-spin-spinning {
  opacity: 1;
  position: static;
  display: inline-block;
}
.santd-spin-nested-loading {
  position: relative;
}
.santd-spin-nested-loading > div > .santd-spin {
  display: block;
  position: absolute;
  height: 100%;
  max-height: 360px;
  width: 100%;
  z-index: 4;
}
.santd-spin-nested-loading > div > .santd-spin .santd-spin-dot {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10px;
}
.santd-spin-nested-loading > div > .santd-spin .santd-spin-text {
  position: absolute;
  top: 50%;
  width: 100%;
  padding-top: 5px;
  text-shadow: 0 1px 2px #fff;
}
.santd-spin-nested-loading > div > .santd-spin.santd-spin-show-text .santd-spin-dot {
  margin-top: -20px;
}
.santd-spin-nested-loading > div > .santd-spin-sm .santd-spin-dot {
  margin: -7px;
}
.santd-spin-nested-loading > div > .santd-spin-sm .santd-spin-text {
  padding-top: 2px;
}
.santd-spin-nested-loading > div > .santd-spin-sm.santd-spin-show-text .santd-spin-dot {
  margin-top: -17px;
}
.santd-spin-nested-loading > div > .santd-spin-lg .santd-spin-dot {
  margin: -16px;
}
.santd-spin-nested-loading > div > .santd-spin-lg .santd-spin-text {
  padding-top: 11px;
}
.santd-spin-nested-loading > div > .santd-spin-lg.santd-spin-show-text .santd-spin-dot {
  margin-top: -26px;
}
.santd-spin-container {
  position: relative;
  transition: opacity 0.3s;
  zoom: 1;
}
.santd-spin-container:before,
.santd-spin-container:after {
  content: "";
  display: table;
}
.santd-spin-container:after {
  clear: both;
}
.santd-spin-blur {
  pointer-events: none;
  user-select: none;
  overflow: hidden;
  opacity: 0.5;
  -webkit-filter: blur(0.5px);
  filter: blur(0.5px);
  /* autoprefixer: off */
  filter: progid\:DXImageTransform\.Microsoft\.Blur(PixelRadius\=1, MakeShadow\=false);
}
.santd-spin-blur:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  opacity: 0.3;
  transition: all 0.3s;
  z-index: 10;
}
.santd-spin-tip {
  color: rgba(0, 0, 0, 0.45);
}
.santd-spin-dot {
  position: relative;
  display: inline-block;
  font-size: 20px;
  width: 20px;
  height: 20px;
}
.santd-spin-dot i {
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background-color: #1890ff;
  transform: scale(0.75);
  display: block;
  position: absolute;
  opacity: 0.3;
  animation: antSpinMove 1s infinite linear alternate;
  transform-origin: 50% 50%;
}
.santd-spin-dot i:nth-child(1) {
  left: 0;
  top: 0;
}
.santd-spin-dot i:nth-child(2) {
  right: 0;
  top: 0;
  animation-delay: 0.4s;
}
.santd-spin-dot i:nth-child(3) {
  right: 0;
  bottom: 0;
  animation-delay: 0.8s;
}
.santd-spin-dot i:nth-child(4) {
  left: 0;
  bottom: 0;
  animation-delay: 1.2s;
}
.santd-spin-dot-spin {
  transform: rotate(45deg);
  animation: antRotate 1.2s infinite linear;
}
.santd-spin-sm .santd-spin-dot {
  font-size: 14px;
  width: 14px;
  height: 14px;
}
.santd-spin-sm .santd-spin-dot i {
  width: 6px;
  height: 6px;
}
.santd-spin-lg .santd-spin-dot {
  font-size: 32px;
  width: 32px;
  height: 32px;
}
.santd-spin-lg .santd-spin-dot i {
  width: 14px;
  height: 14px;
}
.santd-spin.santd-spin-show-text .santd-spin-text {
  display: block;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ */
  .santd-spin-blur {
    background: #fff;
    opacity: 0.5;
  }
}
@keyframes antSpinMove {
  to {
    opacity: 1;
  }
}
@keyframes antRotate {
  to {
    transform: rotate(405deg);
  }
}
