/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.santd-list {
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
.santd-list * {
  outline: none;
}
.santd-list-pagination {
  margin-top: 24px;
  text-align: right;
}
.santd-list-more {
  margin-top: 12px;
  text-align: center;
}
.santd-list-more button {
  padding-right: 32px;
  padding-left: 32px;
}
.santd-list-spin {
  min-height: 40px;
  text-align: center;
}
.santd-list-empty-text {
  padding: 16px;
  color: rgba(0, 0, 0, 0.25);
  font-size: 14px;
  text-align: center;
}
.santd-list-item {
  display: flex;
  align-items: center;
  padding: 12px 0;
}
.santd-list-item-content {
  color: rgba(0, 0, 0, 0.65);
}
.santd-list-item-meta {
  display: flex;
  flex: 1;
  align-items: flex-start;
  font-size: 0;
}
.santd-list-item-meta-avatar {
  margin-right: 16px;
}
.santd-list-item-meta-content {
  flex: 1 0;
}
.santd-list-item-meta-title {
  margin-bottom: 4px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 22px;
}
.santd-list-item-meta-title > a {
  color: rgba(0, 0, 0, 0.65);
  transition: all 0.3s;
}
.santd-list-item-meta-title > a:hover {
  color: #1890ff;
}
.santd-list-item-meta-description {
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
  line-height: 22px;
}
.santd-list-item-action {
  flex: 0 0 auto;
  margin-left: 48px;
  padding: 0;
  font-size: 0;
  list-style: none;
}
.santd-list-item-action > li {
  position: relative;
  display: inline-block;
  padding: 0 8px;
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
}
.santd-list-item-action > li:first-child {
  padding-left: 0;
}
.santd-list-item-action-split {
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 14px;
  margin-top: -7px;
  background-color: #e8e8e8;
}
.santd-list-header {
  background: #fff;
}
.santd-list-footer {
  background: #fff;
}
.santd-list-header,
.santd-list-footer {
  padding-top: 12px;
  padding-bottom: 12px;
}
.santd-list-empty {
  padding: 16px 0;
  color: rgba(0, 0, 0, 0.45);
  font-size: 12px;
  text-align: center;
}
.santd-list-split .santd-list-item {
  border-bottom: 1px solid #e8e8e8;
}
.santd-list-split .santd-list-item:last-child {
  border-bottom: none;
}
.santd-list-split .santd-list-header {
  border-bottom: 1px solid #e8e8e8;
}
.santd-list-loading .santd-list-spin-nested-loading {
  min-height: 32px;
}
.santd-list-something-after-last-item .santd-spin-container > div > .santd-list-item:last-child {
  border-bottom: 1px solid #e8e8e8;
}
.santd-list-lg .santd-list-item {
  padding-top: 16px;
  padding-bottom: 16px;
}
.santd-list-sm .santd-list-item {
  padding-top: 8px;
  padding-bottom: 8px;
}
.santd-list-vertical .santd-list-item {
  align-items: initial;
}
.santd-list-vertical .santd-list-item-main {
  display: block;
  flex: 1;
}
.santd-list-vertical .santd-list-item-extra {
  margin-left: 40px;
}
.santd-list-vertical .santd-list-item-meta {
  margin-bottom: 16px;
}
.santd-list-vertical .santd-list-item-meta-title {
  margin-bottom: 12px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  line-height: 24px;
}
.santd-list-vertical .santd-list-item-action {
  margin-top: 16px;
  margin-left: auto;
}
.santd-list-vertical .santd-list-item-action > li {
  padding: 0 16px;
}
.santd-list-vertical .santd-list-item-action > li:first-child {
  padding-left: 0;
}
.santd-list-grid .santd-list-item {
  display: block;
  max-width: 100%;
  margin-bottom: 16px;
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: none;
}
.santd-list-item-no-flex {
  display: block;
}
.santd-list:not(.santd-list-vertical) .santd-list-item-no-flex .santd-list-item-action {
  float: right;
}
.santd-list-bordered {
  border-radius: 4px;
  border: 1px solid #d9d9d9;
}
.santd-list-bordered .santd-list-header {
  padding-left: 24px;
  padding-right: 24px;
}
.santd-list-bordered .santd-list-footer {
  padding-left: 24px;
  padding-right: 24px;
}
.santd-list-bordered .santd-list-item {
  border-bottom: 1px solid #e8e8e8;
  padding-left: 24px;
  padding-right: 24px;
}
.santd-list-bordered .santd-list-pagination {
  margin: 16px 24px;
}
.santd-list-bordered.santd-list-sm .santd-list-item {
  padding-left: 16px;
  padding-right: 16px;
}
.santd-list-bordered.santd-list-sm .santd-list-header,
.santd-list-bordered.santd-list-sm .santd-list-footer {
  padding: 8px 16px;
}
.santd-list-bordered.santd-list-lg .santd-list-header,
.santd-list-bordered.santd-list-lg .santd-list-footer {
  padding: 16px 24px;
}
@media screen and (max-width: 768px) {
  .santd-list-item-action {
    margin-left: 24px;
  }
  .santd-list-vertical .santd-list-item-extra {
    margin-left: 24px;
  }
}
@media screen and (max-width: 480px) {
  .santd-list-item {
    flex-wrap: wrap;
  }
  .santd-list-item-action {
    margin-left: 12px;
  }
  .santd-list-vertical .santd-list-item-extra-wrap {
    flex-wrap: wrap-reverse;
  }
  .santd-list-vertical .santd-list-item-main {
    min-width: 220px;
  }
  .santd-list-vertical .santd-list-item-extra {
    margin-left: 0;
  }
}
/*.@{list-prefix-cls} {
  .reset-component;
  position: relative;
  * {
    outline: none;
  }
  &-pagination {
    margin-top: 24px;
    text-align: right;
  }
  &-more {
    margin-top: 12px;
    text-align: center;
    button {
      padding-left: 32px;
      padding-right: 32px;
    }
  }
  &-spin {
    text-align: center;
    min-height: 40px;
  }
  &-empty-text {
    color: @text-color-secondary;
    font-size: @font-size-base;
    padding: @list-empty-text-padding;
    text-align: center;
  }
  &-item {
    align-items: center;
    display: flex;
    padding: @list-item-padding;
    &-meta {
      align-items: flex-start;
      display: flex;
      flex: 1;
      font-size: 0;
      &-avatar {
        margin-right: @list-item-meta-avatar-margin-right;
      }
      &-content {
        flex: 1 0;
      }
      &-title {
        color: @text-color;
        margin-bottom: 4px;
        font-size: @font-size-base;
        line-height: 22px;
        > a {
          color: @text-color;
          transition: all .3s;
          &:hover {
            color: @primary-color;
          }
        }
      }
      &-description {
        color: @text-color-secondary;
        font-size: @font-size-base;
        line-height: 22px;
      }
    }
    &-content {
      display: flex;
      flex: 1;
      justify-content: flex-end;
    }
    &-content-single {
      justify-content: flex-start;
    }
    &-action {
      font-size: 0;
      flex: 0 0 auto;
      margin-left: 48px;
      padding: 0;
      list-style: none;
      & > li {
        display: inline-block;
        color: @text-color-secondary;
        cursor: pointer;
        padding: 0 8px;
        position: relative;
        font-size: @font-size-base;
        line-height: 22px;
        text-align: center;
      }
      & > li:first-child {
        padding-left: 0;
      }
      &-split {
        background-color: @border-color-split;
        margin-top: -7px;
        position: absolute;
        top: 50%;
        right: 0;
        width: 1px;
        height: 14px;
      }
    }
    &-main {
      display: flex;
      flex: 1;
    }
  }

  &-header,
  &-footer {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  &-empty {
    color: @text-color-secondary;
    padding: 16px 0;
    font-size: 12px;
    text-align: center;
  }

  &-split &-item {
    border-bottom: 1px solid @border-color-split;
    &:last-child {
      border-bottom: none;
    }
  }
  &-item-container {
    border-bottom: 1px solid @border-color-split;
    &:last-child {
      border-bottom: none;
    }
  }

  &-split &-header {
    border-bottom: 1px solid @border-color-split;
  }

  &-loading &-spin-nested-loading {
    min-height: 32px;
  }

  &-something-after-last-item .@{ant-prefix}-spin-container > &-item:last-child {
    border-bottom: 1px solid @border-color-split;
  }

  &-lg &-item {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  &-sm &-item {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  &-vertical &-item {
    display: block;
    &-extra-wrap {
      display: flex;
    }
    &-main {
      display: block;
      flex: 1;
    }
    &-extra {
      margin-left: 58px;
    }
    &-meta {
      margin-bottom: @list-item-meta-margin-bottom;
      &-avatar {
        // display: none;
      }
      &-title {
        color: @heading-color;
        margin-bottom: @list-item-meta-title-margin-bottom;
        font-size: @font-size-lg;
        line-height: 24px;
      }
    }
    &-content {
      display: block;
      color: @text-color;
      font-size: @font-size-base;
      margin: @list-item-content-margin;
    }
    &-action {
      margin-left: auto;
      > li {
        padding: 0 16px;
        &:first-child {
          padding-left: 0;
        }
      }
    }
  }

  &-grid &-item {
    border-bottom: none;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 16px;
    &-content {
      display: block;
      max-width: 100%;
    }
  }
}

// 另外添加样式
.san-row .san-list-item-container {
  border: none;
}
.san-list-vertical {
  .san-list-item-action {
    li {
      display: inline-block;
      color: rgba(0,0,0,0.45);
      cursor: pointer;
      padding: 0 8px;
      position: relative;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
    }
    ul
      >li {
        padding: 0 16px;
      }
      &:first-child {
        padding-left: 0;
      }
  }
  .san-list-item-action-show {
      display: block;
  }
  .san-list-item-action-hide {
      display: none;
  }
}
.san-list {
    .san-list-header-show, .san-list-footer-show {
        display: block;
    }
    .san-list-header-hide, .san-list-footer-hide {
        display: none;
    }
}
.san-list-vertical .san-list-item-action ul>li:first-child {
    padding-left: 0;
}

@import './bordered';
@import './responsive';*/
