/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.santd-skeleton {
  display: table;
  width: 100%;
}
.santd-skeleton-header {
  display: table-cell;
  vertical-align: top;
  padding-right: 16px;
}
.santd-skeleton-header .santd-skeleton-avatar {
  display: inline-block;
  vertical-align: top;
  background: #f2f2f2;
  width: 32px;
  height: 32px;
  line-height: 32px;
}
.santd-skeleton-header .santd-skeleton-avatar.santd-skeleton-avatar-circle {
  border-radius: 50%;
}
.santd-skeleton-header .santd-skeleton-avatar-large {
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.santd-skeleton-header .santd-skeleton-avatar-large.santd-skeleton-avatar-circle {
  border-radius: 50%;
}
.santd-skeleton-header .santd-skeleton-avatar-small {
  width: 24px;
  height: 24px;
  line-height: 24px;
}
.santd-skeleton-header .santd-skeleton-avatar-small.santd-skeleton-avatar-circle {
  border-radius: 50%;
}
.santd-skeleton-content {
  display: table-cell;
  vertical-align: top;
  width: 100%;
}
.santd-skeleton-content .santd-skeleton-title {
  margin-top: 16px;
  height: 16px;
  width: 100%;
  background: #f2f2f2;
}
.santd-skeleton-content .santd-skeleton-title + .santd-skeleton-paragraph {
  margin-top: 24px;
}
.santd-skeleton-content .santd-skeleton-paragraph > li {
  height: 16px;
  background: #f2f2f2;
  list-style: none;
  width: 100%;
}
.santd-skeleton-content .santd-skeleton-paragraph > li:last-child:not(:first-child):not(:nth-child(2)) {
  width: 61%;
}
.santd-skeleton-content .santd-skeleton-paragraph > li + li {
  margin-top: 16px;
}
.santd-skeleton-with-avatar .santd-skeleton-content .santd-skeleton-title {
  margin-top: 12px;
}
.santd-skeleton-with-avatar .santd-skeleton-content .santd-skeleton-title + .santd-skeleton-paragraph {
  margin-top: 28px;
}
.santd-skeleton.santd-skeleton-active .santd-skeleton-content .santd-skeleton-title,
.santd-skeleton.santd-skeleton-active .santd-skeleton-content .santd-skeleton-paragraph > li {
  background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
  animation: santd-skeleton-loading 1.4s ease infinite;
  background-size: 400% 100%;
}
.santd-skeleton.santd-skeleton-active .santd-skeleton-avatar {
  background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
  animation: santd-skeleton-loading 1.4s ease infinite;
  background-size: 400% 100%;
}
@keyframes santd-skeleton-loading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
