/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.santd-transfer-customize-list {
  display: flex;
}
.santd-transfer-customize-list .santd-transfer-operation {
  flex: none;
  align-self: center;
}
.santd-transfer-customize-list .santd-transfer-list {
  flex: auto;
  width: auto;
  height: auto;
  min-height: 200px;
}
.santd-transfer-customize-list .santd-transfer-list-body-with-search {
  padding-top: 0;
}
.santd-transfer-customize-list .santd-transfer-list-body-search-wrapper {
  position: relative;
  padding-bottom: 0;
}
.santd-transfer-customize-list .santd-transfer-list-body-customize-wrapper {
  padding: 12px;
}
.santd-transfer-customize-list .santd-table-wrapper .santd-table-small {
  border: 0;
  border-radius: 0;
}
.santd-transfer-customize-list .santd-table-wrapper .santd-table-small > .santd-table-content > .santd-table-body > table > .santd-table-thead > tr > th {
  background: #fafafa;
}
.santd-transfer-customize-list .santd-table-wrapper .santd-table-small > .santd-table-content .santd-table-row:last-child td {
  border-bottom: 1px solid #e8e8e8;
}
.santd-transfer-customize-list .santd-table-wrapper .santd-table-small .santd-table-body {
  margin: 0;
}
.santd-transfer-customize-list .santd-table-wrapper .santd-table-pagination.santd-pagination {
  margin: 16px 0 4px;
}
.santd-transfer {
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
.santd-transfer-disabled .santd-transfer-list {
  background: #f5f5f5;
}
.santd-transfer-list {
  position: relative;
  display: inline-block;
  width: 180px;
  height: 200px;
  padding-top: 34px;
  vertical-align: middle;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}
.santd-transfer-list-with-footer {
  padding-bottom: 34px;
}
.santd-transfer-list-search {
  padding: 0 8px;
}
.santd-transfer-list-search-action {
  position: absolute;
  top: 12px;
  right: 12px;
  bottom: 12px;
  width: 28px;
  color: rgba(0, 0, 0, 0.25);
  line-height: 32px;
  text-align: center;
}
.santd-transfer-list-search-action .santd-icon {
  color: rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
}
.santd-transfer-list-search-action .santd-icon:hover {
  color: rgba(0, 0, 0, 0.45);
}
span.santd-transfer-list-search-action {
  pointer-events: none;
}
.santd-transfer-list-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 6px 12px;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.65);
  border-bottom: 1px solid #e8e8e8;
  border-radius: 4px 4px 0 0;
}
.santd-transfer-list-header-title {
  position: absolute;
  right: 12px;
}
.santd-transfer-list-body {
  position: relative;
  height: 100%;
  font-size: 14px;
}
.santd-transfer-list-body-search-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 12px;
}
.santd-transfer-list-body-with-search {
  padding-top: 56px;
}
.santd-transfer-list-content {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  list-style: none;
}
.santd-transfer-list-content > .LazyLoad {
  animation: transferHighlightIn 1s;
}
.santd-transfer-list-content-item {
  min-height: 32px;
  padding: 6px 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all 0.3s;
}
.santd-transfer-list-content-item > span {
  padding-right: 0;
}
.santd-transfer-list-content-item:not(.santd-transfer-list-content-item-disabled):hover {
  background-color: #e6f7ff;
  cursor: pointer;
}
.santd-transfer-list-content-item-disabled,
.santd-transfer-list-content-item-disabled span {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}
.santd-transfer-list-body-not-found {
  position: absolute;
  top: 50%;
  width: 100%;
  padding-top: 0;
  color: rgba(0, 0, 0, 0.25);
  text-align: center;
  transform: translateY(-50%);
}
.santd-transfer-list-body-with-search .santd-transfer-list-body-not-found {
  margin-top: 16px;
}
.santd-transfer-list-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #e8e8e8;
  border-radius: 0 0 4px 4px;
}
.santd-transfer-operation {
  display: inline-block;
  margin: 0 8px;
  overflow: hidden;
  vertical-align: middle;
}
.santd-transfer-operation .santd-btn {
  display: block;
}
.santd-transfer-operation .santd-btn:first-child {
  margin-bottom: 4px;
}
.santd-transfer-operation .santd-btn .santd-icon {
  font-size: 12px;
}
@keyframes transferHighlightIn {
  0% {
    background: #bae7ff;
  }
  100% {
    background: transparent;
  }
}
