/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.santd-upload {
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: 0;
}
.santd-upload p {
  margin: 0;
}
.santd-upload-btn {
  display: block;
  width: 100%;
  outline: none;
}
.santd-upload input[type="file"] {
  cursor: pointer;
}
.santd-upload.santd-upload-select {
  display: inline-block;
}
.santd-upload.santd-upload-select-picture-card {
  border: 1px dashed #d9d9d9;
  width: 104px;
  height: 104px;
  border-radius: 4px;
  background-color: #fafafa;
  text-align: center;
  cursor: pointer;
  transition: border-color 0.3s ease;
  vertical-align: top;
  margin-right: 8px;
  margin-bottom: 8px;
  display: table;
}
.santd-upload.santd-upload-select-picture-card > .santd-upload {
  width: 100%;
  height: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 8px;
}
.santd-upload.santd-upload-select-picture-card:hover {
  border-color: #1890ff;
}
.santd-upload.santd-upload-drag {
  border: 1px dashed #d9d9d9;
  transition: border-color 0.3s;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
  background: #fafafa;
}
.santd-upload.santd-upload-drag .santd-upload {
  padding: 16px 0;
}
.santd-upload.santd-upload-drag.santd-upload-drag-hover:not(.santd-upload-disabled) {
  border: 2px dashed #40a9ff;
}
.santd-upload.santd-upload-drag.santd-upload-disabled {
  cursor: not-allowed;
}
.santd-upload.santd-upload-drag .santd-upload-btn {
  display: table;
  height: 100%;
}
.santd-upload.santd-upload-drag .santd-upload-drag-container {
  display: table-cell;
  vertical-align: middle;
}
.santd-upload.santd-upload-drag:not(.santd-upload-disabled):hover {
  border-color: #40a9ff;
}
.santd-upload.santd-upload-drag p.santd-upload-drag-icon {
  margin-bottom: 20px;
}
.santd-upload.santd-upload-drag p.santd-upload-drag-icon .santd-icon {
  font-size: 48px;
  color: #40a9ff;
}
.santd-upload.santd-upload-drag p.santd-upload-text {
  font-size: 16px;
  margin: 0 0 4px;
  color: rgba(0, 0, 0, 0.85);
}
.santd-upload.santd-upload-drag p.santd-upload-hint {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
}
.santd-upload.santd-upload-drag .santd-icon-plus {
  font-size: 30px;
  transition: all 0.3s;
  color: rgba(0, 0, 0, 0.25);
}
.santd-upload.santd-upload-drag .santd-icon-plus:hover {
  color: rgba(0, 0, 0, 0.45);
}
.santd-upload.santd-upload-drag:hover .santd-icon-plus {
  color: rgba(0, 0, 0, 0.45);
}
.santd-upload-list {
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  zoom: 1;
}
.santd-upload-list:before,
.santd-upload-list:after {
  content: "";
  display: table;
}
.santd-upload-list:after {
  clear: both;
}
.santd-upload-list-item {
  margin-top: 8px;
  font-size: 14px;
  position: relative;
  height: 22px;
}
.santd-upload-list-item-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 22px;
  width: 100%;
  display: inline-block;
}
.santd-upload-list-item-info {
  height: 100%;
  padding: 0 12px 0 4px;
  transition: background-color 0.3s;
}
.santd-upload-list-item-info > span {
  display: block;
}
.santd-upload-list-item-info .santd-icon-loading,
.santd-upload-list-item-info .santd-icon-paper-clip {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
  position: absolute;
  top: 5px;
}
.santd-upload-list-item .santd-icon-close {
  display: inline-block;
  font-size: 12px;
  font-size: 10px \9;
  transform: scale(0.83333333) rotate(0deg);
  transition: all 0.3s;
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 6px;
  right: 4px;
  color: rgba(0, 0, 0, 0.45);
  line-height: 0;
}
:root .santd-upload-list-item .santd-icon-close {
  font-size: 12px;
}
.santd-upload-list-item .santd-icon-close:hover {
  color: rgba(0, 0, 0, 0.65);
}
.santd-upload-list-item:hover .santd-upload-list-item-info {
  background-color: #e6f7ff;
}
.santd-upload-list-item:hover .santd-icon-close {
  opacity: 1;
}
.santd-upload-list-item-error,
.santd-upload-list-item-error .santd-icon-paper-clip,
.santd-upload-list-item-error .santd-upload-list-item-name {
  color: #f5222d;
}
.santd-upload-list-item-error .santd-icon-close {
  opacity: 1;
  color: #f5222d !important;
}
.santd-upload-list-item-progress {
  line-height: 0;
  font-size: 14px;
  position: absolute;
  width: 100%;
  bottom: -12px;
  padding-left: 26px;
}
.santd-upload-list-picture .santd-upload-list-item,
.santd-upload-list-picture-card .santd-upload-list-item {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  height: 66px;
  position: relative;
}
.santd-upload-list-picture .santd-upload-list-item:hover,
.santd-upload-list-picture-card .santd-upload-list-item:hover {
  background: transparent;
}
.santd-upload-list-picture .santd-upload-list-item-error,
.santd-upload-list-picture-card .santd-upload-list-item-error {
  border-color: #f5222d;
}
.santd-upload-list-picture .santd-upload-list-item-info,
.santd-upload-list-picture-card .santd-upload-list-item-info {
  padding: 0;
}
.santd-upload-list-picture .santd-upload-list-item:hover .santd-upload-list-item-info,
.santd-upload-list-picture-card .santd-upload-list-item:hover .santd-upload-list-item-info {
  background: transparent;
}
.santd-upload-list-picture .santd-upload-list-item-uploading,
.santd-upload-list-picture-card .santd-upload-list-item-uploading {
  border-style: dashed;
}
.santd-upload-list-picture .santd-upload-list-item-thumbnail,
.santd-upload-list-picture-card .santd-upload-list-item-thumbnail {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 8px;
  left: 8px;
  text-align: center;
}
.santd-upload-list-picture .santd-upload-list-item-icon,
.santd-upload-list-picture-card .santd-upload-list-item-icon {
  color: rgba(0, 0, 0, 0.25);
  font-size: 36px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -18px;
  margin-left: -18px;
}
.santd-upload-list-picture .santd-upload-list-item-thumbnail img,
.santd-upload-list-picture-card .santd-upload-list-item-thumbnail img {
  width: 48px;
  height: 48px;
  display: block;
  overflow: hidden;
}
.santd-upload-list-picture .santd-upload-list-item-thumbnail.santd-icon:before,
.santd-upload-list-picture-card .santd-upload-list-item-thumbnail.santd-icon:before {
  line-height: 48px;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.45);
}
.santd-upload-list-picture .santd-upload-list-item-name,
.santd-upload-list-picture-card .santd-upload-list-item-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 0 0 8px;
  line-height: 44px;
  transition: all 0.3s;
  padding-left: 48px;
  padding-right: 8px;
  max-width: 100%;
  display: inline-block;
  box-sizing: border-box;
}
.santd-upload-list-picture .santd-upload-list-item-uploading .santd-upload-list-item-name,
.santd-upload-list-picture-card .santd-upload-list-item-uploading .santd-upload-list-item-name {
  line-height: 28px;
}
.santd-upload-list-picture .santd-upload-list-item-progress,
.santd-upload-list-picture-card .santd-upload-list-item-progress {
  padding-left: 56px;
  margin-top: 0;
  bottom: 14px;
  width: calc(100% - 24px);
}
.santd-upload-list-picture .santd-icon-close,
.santd-upload-list-picture-card .santd-icon-close {
  position: absolute;
  right: 8px;
  top: 8px;
  line-height: 1;
  opacity: 1;
}
.santd-upload-list-picture-card {
  float: left;
}
.santd-upload-list-picture-card.santd-upload-list:after {
  display: none;
}
.santd-upload-list-picture-card .santd-upload-list-item {
  float: left;
  width: 104px;
  height: 104px;
  margin: 0 8px 8px 0;
}
.santd-upload-list-picture-card .santd-upload-list-item-info {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.santd-upload-list-picture-card .santd-upload-list-item-info:before {
  content: ' ';
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.santd-upload-list-picture-card .santd-upload-list-item:hover .santd-upload-list-item-info:before {
  opacity: 1;
}
.santd-upload-list-picture-card .santd-upload-list-item-actions {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  white-space: nowrap;
  opacity: 0;
  transition: all 0.3s;
}
.santd-upload-list-picture-card .santd-upload-list-item-actions .santd-icon-eye-o,
.santd-upload-list-picture-card .santd-upload-list-item-actions .santd-icon-delete {
  z-index: 10;
  transition: all 0.3s;
  cursor: pointer;
  font-size: 16px;
  width: 16px;
  color: rgba(255, 255, 255, 0.85);
  margin: 0 4px;
}
.santd-upload-list-picture-card .santd-upload-list-item-actions .santd-icon-eye-o:hover,
.santd-upload-list-picture-card .santd-upload-list-item-actions .santd-icon-delete:hover {
  color: #fff;
}
.santd-upload-list-picture-card .santd-upload-list-item-info:hover + .santd-upload-list-item-actions,
.santd-upload-list-picture-card .santd-upload-list-item-actions:hover {
  opacity: 1;
}
.santd-upload-list-picture-card .santd-upload-list-item-thumbnail,
.santd-upload-list-picture-card .santd-upload-list-item-thumbnail img {
  display: block;
  width: 100%;
  height: 100%;
  position: static;
}
.santd-upload-list-picture-card .santd-upload-list-item-name {
  margin: 8px 0 0;
  padding: 0;
  text-align: center;
  line-height: 1.5;
  display: none;
}
.santd-upload-list-picture-card .anticon-picture + .santd-upload-list-item-name {
  display: block;
}
.santd-upload-list-picture-card .santd-upload-list-item-uploading.santd-upload-list-item {
  background-color: #fafafa;
}
.santd-upload-list-picture-card .santd-upload-list-item-uploading .santd-upload-list-item-info {
  height: auto;
}
.santd-upload-list-picture-card .santd-upload-list-item-uploading .santd-upload-list-item-info:before,
.santd-upload-list-picture-card .santd-upload-list-item-uploading .santd-upload-list-item-info .santd-icon-eye-o,
.santd-upload-list-picture-card .santd-upload-list-item-uploading .santd-upload-list-item-info .santd-icon-delete {
  display: none;
}
.santd-upload-list-picture-card .santd-upload-list-item-uploading-text {
  margin-top: 18px;
  color: rgba(0, 0, 0, 0.45);
}
.santd-upload-list-picture-card .santd-upload-list-item-progress {
  padding-left: 0;
  bottom: 32px;
}
.santd-upload-list .santd-upload-success-icon {
  color: #52c41a;
  font-weight: bold;
}
.santd-upload-list .santd-upload-animate-enter,
.santd-upload-list .santd-upload-animate-leave,
.santd-upload-list .santd-upload-animate-inline-enter,
.santd-upload-list .santd-upload-animate-inline-leave {
  animation-duration: 0.3s;
  animation-fill-mode: cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.santd-upload-list .santd-upload-animate-enter {
  animation-name: uploadAnimateIn;
}
.santd-upload-list .santd-upload-animate-leave {
  animation-name: uploadAnimateOut;
}
.santd-upload-list .santd-upload-animate-inline-enter {
  animation-name: uploadAnimateInlineIn;
}
.santd-upload-list .santd-upload-animate-inline-leave {
  animation-name: uploadAnimateInlineOut;
}
@keyframes uploadAnimateIn {
  from {
    height: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
  }
}
@keyframes uploadAnimateOut {
  to {
    height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
  }
}
@keyframes uploadAnimateInlineIn {
  from {
    width: 0;
    height: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
  }
}
@keyframes uploadAnimateInlineOut {
  to {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
  }
}
