/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
@keyframes antCheckboxEffect {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}
.santd-tree.santd-tree-directory {
  position: relative;
}
.santd-tree.santd-tree-directory > li span.santd-tree-switcher,
.santd-tree.santd-tree-directory .santd-tree-child-tree > li span.santd-tree-switcher {
  position: relative;
  z-index: 1;
}
.santd-tree.santd-tree-directory > li span.santd-tree-switcher.santd-tree-switcher-noop,
.santd-tree.santd-tree-directory .santd-tree-child-tree > li span.santd-tree-switcher.santd-tree-switcher-noop {
  pointer-events: none;
}
.santd-tree.santd-tree-directory > li span.santd-tree-checkbox,
.santd-tree.santd-tree-directory .santd-tree-child-tree > li span.santd-tree-checkbox {
  position: relative;
  z-index: 1;
}
.santd-tree.santd-tree-directory > li span.santd-tree-node-content-wrapper,
.santd-tree.santd-tree-directory .santd-tree-child-tree > li span.santd-tree-node-content-wrapper {
  user-select: none;
  border-radius: 0;
}
.santd-tree.santd-tree-directory > li span.santd-tree-node-content-wrapper:hover,
.santd-tree.santd-tree-directory .santd-tree-child-tree > li span.santd-tree-node-content-wrapper:hover {
  background: transparent;
}
.santd-tree.santd-tree-directory > li span.santd-tree-node-content-wrapper:hover:before,
.santd-tree.santd-tree-directory .santd-tree-child-tree > li span.santd-tree-node-content-wrapper:hover:before {
  background: #e6f7ff;
}
.santd-tree.santd-tree-directory > li span.santd-tree-node-content-wrapper.santd-tree-node-selected,
.santd-tree.santd-tree-directory .santd-tree-child-tree > li span.santd-tree-node-content-wrapper.santd-tree-node-selected {
  color: #fff;
  background: transparent;
}
.santd-tree.santd-tree-directory > li span.santd-tree-node-content-wrapper:before,
.santd-tree.santd-tree-directory .santd-tree-child-tree > li span.santd-tree-node-content-wrapper:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 24px;
  transition: all 0.3s;
}
.santd-tree.santd-tree-directory > li span.santd-tree-node-content-wrapper > span,
.santd-tree.santd-tree-directory .santd-tree-child-tree > li span.santd-tree-node-content-wrapper > span {
  position: relative;
  z-index: 1;
}
.santd-tree.santd-tree-directory > li.santd-tree-treenode-selected > span.santd-tree-switcher,
.santd-tree.santd-tree-directory .santd-tree-child-tree > li.santd-tree-treenode-selected > span.santd-tree-switcher {
  color: #fff;
}
.santd-tree.santd-tree-directory > li.santd-tree-treenode-selected > span.santd-tree-checkbox .santd-tree-checkbox-inner,
.santd-tree.santd-tree-directory .santd-tree-child-tree > li.santd-tree-treenode-selected > span.santd-tree-checkbox .santd-tree-checkbox-inner {
  border-color: #1890ff;
}
.santd-tree.santd-tree-directory > li.santd-tree-treenode-selected > span.santd-tree-checkbox.santd-tree-checkbox-checked:after,
.santd-tree.santd-tree-directory .santd-tree-child-tree > li.santd-tree-treenode-selected > span.santd-tree-checkbox.santd-tree-checkbox-checked:after {
  border-color: #fff;
}
.santd-tree.santd-tree-directory > li.santd-tree-treenode-selected > span.santd-tree-checkbox.santd-tree-checkbox-checked .santd-tree-checkbox-inner,
.santd-tree.santd-tree-directory .santd-tree-child-tree > li.santd-tree-treenode-selected > span.santd-tree-checkbox.santd-tree-checkbox-checked .santd-tree-checkbox-inner {
  background: #fff;
}
.santd-tree.santd-tree-directory > li.santd-tree-treenode-selected > span.santd-tree-checkbox.santd-tree-checkbox-checked .santd-tree-checkbox-inner:after,
.santd-tree.santd-tree-directory .santd-tree-child-tree > li.santd-tree-treenode-selected > span.santd-tree-checkbox.santd-tree-checkbox-checked .santd-tree-checkbox-inner:after {
  border-color: #1890ff;
}
.santd-tree.santd-tree-directory > li.santd-tree-treenode-selected > span.santd-tree-node-content-wrapper:before,
.santd-tree.santd-tree-directory .santd-tree-child-tree > li.santd-tree-treenode-selected > span.santd-tree-node-content-wrapper:before {
  background: #1890ff;
}
.santd-tree-checkbox {
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  display: inline-block;
  line-height: 1;
  position: relative;
  vertical-align: middle;
  top: -0.09em;
}
.santd-tree-checkbox-wrapper:hover .santd-tree-checkbox-inner,
.santd-tree-checkbox:hover .santd-tree-checkbox-inner,
.santd-tree-checkbox-input:focus + .santd-tree-checkbox-inner {
  border-color: #1890ff;
}
.santd-tree-checkbox-checked:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  border: 1px solid #1890ff;
  content: '';
  animation: antCheckboxEffect 0.36s ease-in-out;
  animation-fill-mode: both;
  visibility: hidden;
}
.santd-tree-checkbox:hover:after,
.santd-tree-checkbox-wrapper:hover .santd-tree-checkbox:after {
  visibility: visible;
}
.santd-tree-checkbox-inner {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  background-color: #fff;
  transition: all 0.3s;
}
.santd-tree-checkbox-inner:after {
  transform: rotate(45deg) scale(0);
  position: absolute;
  left: 4.57142857px;
  top: 1.14285714px;
  display: table;
  width: 5.71428571px;
  height: 9.14285714px;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  content: ' ';
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
  opacity: 0;
}
.santd-tree-checkbox-input {
  position: absolute;
  left: 0;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.santd-tree-checkbox-indeterminate .santd-tree-checkbox-inner:after {
  content: ' ';
  transform: translate(-50%, -50%) scale(1);
  border: 0;
  left: 50%;
  top: 50%;
  width: 8px;
  height: 8px;
  background-color: #1890ff;
  opacity: 1;
}
.santd-tree-checkbox-indeterminate.santd-tree-checkbox-disabled .santd-tree-checkbox-inner:after {
  border-color: rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.25);
}
.santd-tree-checkbox-checked .santd-tree-checkbox-inner:after {
  transform: rotate(45deg) scale(1);
  position: absolute;
  display: table;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  content: ' ';
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  opacity: 1;
}
.santd-tree-checkbox-checked .santd-tree-checkbox-inner {
  background-color: #1890ff;
  border-color: #1890ff;
}
.santd-tree-checkbox-disabled {
  cursor: not-allowed;
}
.santd-tree-checkbox-disabled.santd-tree-checkbox-checked .santd-tree-checkbox-inner:after {
  animation-name: none;
  border-color: rgba(0, 0, 0, 0.25);
}
.santd-tree-checkbox-disabled .santd-tree-checkbox-input {
  cursor: not-allowed;
}
.santd-tree-checkbox-disabled .santd-tree-checkbox-inner {
  border-color: #d9d9d9 !important;
  background-color: #f5f5f5;
}
.santd-tree-checkbox-disabled .santd-tree-checkbox-inner:after {
  animation-name: none;
  border-color: #f5f5f5;
}
.santd-tree-checkbox-disabled + span {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}
.santd-tree-checkbox-wrapper {
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: unset;
  cursor: pointer;
  display: inline-block;
}
.santd-tree-checkbox-wrapper + .santd-tree-checkbox-wrapper {
  margin-left: 8px;
}
.santd-tree-checkbox-wrapper + span,
.santd-tree-checkbox + span {
  padding-left: 8px;
  padding-right: 8px;
}
.santd-tree-checkbox-group {
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}
.santd-tree-checkbox-group-item {
  display: inline-block;
  margin-right: 8px;
}
.santd-tree-checkbox-group-item:last-child {
  margin-right: 0;
}
.santd-tree-checkbox-group-item + .santd-tree-checkbox-group-item {
  margin-left: 0;
}
.santd-tree {
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}
.santd-tree ol,
.santd-tree ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.santd-tree li {
  margin: 0;
  padding: 4px 0;
  white-space: nowrap;
  list-style: none;
  outline: 0;
}
.santd-tree li span[draggable],
.santd-tree li span[draggable='true'] {
  line-height: 20px;
  border-top: 2px transparent solid;
  border-bottom: 2px transparent solid;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
.santd-tree li.drag-over > span[draggable] {
  color: white;
  background-color: #1890ff;
  opacity: 0.8;
}
.santd-tree li.drag-over-gap-top > span[draggable] {
  border-top-color: #1890ff;
}
.santd-tree li.drag-over-gap-bottom > span[draggable] {
  border-bottom-color: #1890ff;
}
.santd-tree li.filter-node > span {
  color: #f5222d !important;
  font-weight: 500 !important;
}
.santd-tree li.santd-tree-treenode-loading span.santd-tree-switcher.santd-tree-switcher_open .santd-tree-switcher-loading-icon,
.santd-tree li.santd-tree-treenode-loading span.santd-tree-switcher.santd-tree-switcher_close .santd-tree-switcher-loading-icon {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 24px;
  height: 24px;
  color: #1890ff;
  font-size: 14px;
  transform: none;
}
.santd-tree li.santd-tree-treenode-loading span.santd-tree-switcher.santd-tree-switcher_open .santd-tree-switcher-loading-icon svg,
.santd-tree li.santd-tree-treenode-loading span.santd-tree-switcher.santd-tree-switcher_close .santd-tree-switcher-loading-icon svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
:root .santd-tree li.santd-tree-treenode-loading span.santd-tree-switcher.santd-tree-switcher_open::after,
:root .santd-tree li.santd-tree-treenode-loading span.santd-tree-switcher.santd-tree-switcher_close::after {
  opacity: 0;
}
.santd-tree li ul {
  margin: 0;
  padding: 0 0 0 18px;
}
.santd-tree li .santd-tree-node-content-wrapper {
  display: inline-block;
  height: 24px;
  margin: 0;
  padding: 0 5px;
  color: rgba(0, 0, 0, 0.65);
  line-height: 24px;
  text-decoration: none;
  vertical-align: top;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s;
}
.santd-tree li .santd-tree-node-content-wrapper:hover {
  background-color: #e6f7ff;
}
.santd-tree li .santd-tree-node-content-wrapper.santd-tree-node-selected {
  background-color: #bae7ff;
}
.santd-tree li span.santd-tree-checkbox {
  margin: 4px 4px 0 2px;
}
.santd-tree li span.santd-tree-switcher,
.santd-tree li span.santd-tree-iconEle {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0;
  line-height: 24px;
  text-align: center;
  vertical-align: top;
  border: 0 none;
  outline: none;
  cursor: pointer;
}
.santd-tree li span.santd-tree-switcher {
  position: relative;
}
.santd-tree li span.santd-tree-switcher.santd-tree-switcher-noop {
  cursor: default;
}
.santd-tree li span.santd-tree-switcher.santd-tree-switcher_open .santd-tree-switcher-icon,
.santd-tree li span.santd-tree-switcher.santd-tree-switcher_open .santd-select-switcher-icon {
  font-size: 12px;
  font-size: 7px \9;
  transform: scale(0.58333333) rotate(0deg);
  display: inline-block;
  font-weight: bold;
}
:root .santd-tree li span.santd-tree-switcher.santd-tree-switcher_open .santd-tree-switcher-icon,
:root .santd-tree li span.santd-tree-switcher.santd-tree-switcher_open .santd-select-switcher-icon {
  font-size: 12px;
}
.santd-tree li span.santd-tree-switcher.santd-tree-switcher_open .santd-tree-switcher-icon svg,
.santd-tree li span.santd-tree-switcher.santd-tree-switcher_open .santd-select-switcher-icon svg {
  transition: transform 0.3s;
}
.santd-tree li span.santd-tree-switcher.santd-tree-switcher_close .santd-tree-switcher-icon,
.santd-tree li span.santd-tree-switcher.santd-tree-switcher_close .santd-select-switcher-icon {
  font-size: 12px;
  font-size: 7px \9;
  transform: scale(0.58333333) rotate(0deg);
  display: inline-block;
  font-weight: bold;
}
:root .santd-tree li span.santd-tree-switcher.santd-tree-switcher_close .santd-tree-switcher-icon,
:root .santd-tree li span.santd-tree-switcher.santd-tree-switcher_close .santd-select-switcher-icon {
  font-size: 12px;
}
.santd-tree li span.santd-tree-switcher.santd-tree-switcher_close .santd-tree-switcher-icon svg,
.santd-tree li span.santd-tree-switcher.santd-tree-switcher_close .santd-select-switcher-icon svg {
  transition: transform 0.3s;
}
.santd-tree li span.santd-tree-switcher.santd-tree-switcher_close .santd-tree-switcher-icon svg {
  transform: rotate(-90deg);
}
.santd-tree li:last-child > span.santd-tree-switcher::before,
.santd-tree li:last-child > span.santd-tree-iconEle::before {
  display: none;
}
.santd-tree > li:first-child {
  padding-top: 7px;
}
.santd-tree > li:last-child {
  padding-bottom: 7px;
}
.santd-tree-child-tree {
  display: none;
}
.santd-tree-child-tree-open {
  display: block;
}
.santd-tree-child-tree > li:first-child {
  padding-top: 8px;
}
.santd-tree-child-tree > li:last-child {
  padding-bottom: 0;
}
li.santd-tree-treenode-disabled > span:not(.santd-tree-switcher),
li.santd-tree-treenode-disabled > .santd-tree-node-content-wrapper,
li.santd-tree-treenode-disabled > .santd-tree-node-content-wrapper span {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}
li.santd-tree-treenode-disabled > .santd-tree-node-content-wrapper:hover {
  background: transparent;
}
.santd-tree-icon__open {
  margin-right: 2px;
  vertical-align: top;
}
.santd-tree-icon__close {
  margin-right: 2px;
  vertical-align: top;
}
.santd-tree.santd-tree-show-line li {
  position: relative;
}
.santd-tree.santd-tree-show-line li span.santd-tree-switcher {
  color: rgba(0, 0, 0, 0.45);
  background: #fff;
}
.santd-tree.santd-tree-show-line li span.santd-tree-switcher.santd-tree-switcher-noop .santd-tree-switcher-icon,
.santd-tree.santd-tree-show-line li span.santd-tree-switcher.santd-tree-switcher-noop .santd-select-switcher-icon {
  font-size: 12px;
  font-size: 12px \9;
  transform: scale(1) rotate(0deg);
  display: inline-block;
  font-weight: normal;
}
:root .santd-tree.santd-tree-show-line li span.santd-tree-switcher.santd-tree-switcher-noop .santd-tree-switcher-icon,
:root .santd-tree.santd-tree-show-line li span.santd-tree-switcher.santd-tree-switcher-noop .santd-select-switcher-icon {
  font-size: 12px;
}
.santd-tree.santd-tree-show-line li span.santd-tree-switcher.santd-tree-switcher-noop .santd-tree-switcher-icon svg,
.santd-tree.santd-tree-show-line li span.santd-tree-switcher.santd-tree-switcher-noop .santd-select-switcher-icon svg {
  transition: transform 0.3s;
}
.santd-tree.santd-tree-show-line li span.santd-tree-switcher.santd-tree-switcher_open .santd-tree-switcher-icon,
.santd-tree.santd-tree-show-line li span.santd-tree-switcher.santd-tree-switcher_open .santd-select-switcher-icon {
  font-size: 12px;
  font-size: 12px \9;
  transform: scale(1) rotate(0deg);
  display: inline-block;
  font-weight: normal;
}
:root .santd-tree.santd-tree-show-line li span.santd-tree-switcher.santd-tree-switcher_open .santd-tree-switcher-icon,
:root .santd-tree.santd-tree-show-line li span.santd-tree-switcher.santd-tree-switcher_open .santd-select-switcher-icon {
  font-size: 12px;
}
.santd-tree.santd-tree-show-line li span.santd-tree-switcher.santd-tree-switcher_open .santd-tree-switcher-icon svg,
.santd-tree.santd-tree-show-line li span.santd-tree-switcher.santd-tree-switcher_open .santd-select-switcher-icon svg {
  transition: transform 0.3s;
}
.santd-tree.santd-tree-show-line li span.santd-tree-switcher.santd-tree-switcher_close .santd-tree-switcher-icon,
.santd-tree.santd-tree-show-line li span.santd-tree-switcher.santd-tree-switcher_close .santd-select-switcher-icon {
  font-size: 12px;
  font-size: 12px \9;
  transform: scale(1) rotate(0deg);
  display: inline-block;
  font-weight: normal;
}
:root .santd-tree.santd-tree-show-line li span.santd-tree-switcher.santd-tree-switcher_close .santd-tree-switcher-icon,
:root .santd-tree.santd-tree-show-line li span.santd-tree-switcher.santd-tree-switcher_close .santd-select-switcher-icon {
  font-size: 12px;
}
.santd-tree.santd-tree-show-line li span.santd-tree-switcher.santd-tree-switcher_close .santd-tree-switcher-icon svg,
.santd-tree.santd-tree-show-line li span.santd-tree-switcher.santd-tree-switcher_close .santd-select-switcher-icon svg {
  transition: transform 0.3s;
}
.santd-tree.santd-tree-show-line li:not(:last-child)::before {
  position: absolute;
  left: 12px;
  width: 1px;
  height: 100%;
  margin: 22px 0;
  border-left: 1px solid #d9d9d9;
  content: ' ';
}
.santd-tree.santd-tree-icon-hide .santd-tree-treenode-loading .santd-tree-iconEle {
  display: none;
}
.santd-tree.santd-tree-block-node li .santd-tree-node-content-wrapper {
  width: calc(100% - 24px);
}
.santd-tree.santd-tree-block-node li .santd-checkbox-wrapper + .santd-tree-node-content-wrapper {
  width: calc(100% - 46px);
}
