/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
@keyframes antCheckboxEffect {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}
.santd-select-tree-checkbox {
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  top: -0.09em;
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
}
.santd-select-tree-checkbox-wrapper:hover .santd-select-tree-checkbox-inner,
.santd-select-tree-checkbox:hover .santd-select-tree-checkbox-inner,
.santd-select-tree-checkbox-input:focus + .santd-select-tree-checkbox-inner {
  border-color: #1890ff;
}
.santd-select-tree-checkbox-checked::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #1890ff;
  border-radius: 2px;
  visibility: hidden;
  animation: antCheckboxEffect 0.36s ease-in-out;
  animation-fill-mode: both;
  content: '';
}
.santd-select-tree-checkbox:hover::after,
.santd-select-tree-checkbox-wrapper:hover .santd-select-tree-checkbox::after {
  visibility: visible;
}
.santd-select-tree-checkbox-inner {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  border-collapse: separate;
  transition: all 0.3s;
}
.santd-select-tree-checkbox-inner::after {
  position: absolute;
  top: 50%;
  left: 21%;
  display: table;
  width: 5.71428571px;
  height: 9.14285714px;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  transform: rotate(45deg) scale(0) translate(-50%, -50%);
  opacity: 0;
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
  content: ' ';
}
.santd-select-tree-checkbox-input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
.santd-select-tree-checkbox-checked .santd-select-tree-checkbox-inner::after {
  position: absolute;
  display: table;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  transform: rotate(45deg) scale(1) translate(-50%, -50%);
  opacity: 1;
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  content: ' ';
}
.santd-select-tree-checkbox-checked .santd-select-tree-checkbox-inner {
  background-color: #1890ff;
  border-color: #1890ff;
}
.santd-select-tree-checkbox-disabled {
  cursor: not-allowed;
}
.santd-select-tree-checkbox-disabled.santd-select-tree-checkbox-checked .santd-select-tree-checkbox-inner::after {
  border-color: rgba(0, 0, 0, 0.25);
  animation-name: none;
}
.santd-select-tree-checkbox-disabled .santd-select-tree-checkbox-input {
  cursor: not-allowed;
}
.santd-select-tree-checkbox-disabled .santd-select-tree-checkbox-inner {
  background-color: #f5f5f5;
  border-color: #d9d9d9 !important;
}
.santd-select-tree-checkbox-disabled .santd-select-tree-checkbox-inner::after {
  border-color: #f5f5f5;
  border-collapse: separate;
  animation-name: none;
}
.santd-select-tree-checkbox-disabled + span {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}
.santd-select-tree-checkbox-wrapper {
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  line-height: unset;
  cursor: pointer;
}
.santd-select-tree-checkbox-wrapper + .santd-select-tree-checkbox-wrapper {
  margin-left: 8px;
}
.santd-select-tree-checkbox-wrapper + span,
.santd-select-tree-checkbox + span {
  padding-right: 8px;
  padding-left: 8px;
}
.santd-select-tree-checkbox-group {
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}
.santd-select-tree-checkbox-group-item {
  display: inline-block;
  margin-right: 8px;
}
.santd-select-tree-checkbox-group-item:last-child {
  margin-right: 0;
}
.santd-select-tree-checkbox-group-item + .santd-select-tree-checkbox-group-item {
  margin-left: 0;
}
.santd-select-tree-checkbox-indeterminate .santd-select-tree-checkbox-inner {
  background-color: #fff;
  border-color: #d9d9d9;
}
.santd-select-tree-checkbox-indeterminate .santd-select-tree-checkbox-inner::after {
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: #1890ff;
  border: 0;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  content: ' ';
}
.santd-select-tree-checkbox-indeterminate.santd-select-tree-checkbox-disabled .santd-select-tree-checkbox-inner::after {
  background-color: rgba(0, 0, 0, 0.25);
  border-color: rgba(0, 0, 0, 0.25);
}
.santd-select-tree {
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  padding: 0;
  list-style: none;
  margin: 0;
  padding: 0 4px;
  margin-top: -4px;
}
.santd-select-tree li {
  padding: 0;
  margin: 8px 0;
  list-style: none;
  white-space: nowrap;
  outline: 0;
}
.santd-select-tree li.filter-node > span {
  font-weight: 500;
}
.santd-select-tree li ul {
  margin: 0;
  padding: 0 0 0 18px;
}
.santd-select-tree li .santd-select-tree-node-content-wrapper {
  display: inline-block;
  padding: 3px 5px;
  border-radius: 2px;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.65);
  transition: all 0.3s;
  width: calc(100% - 24px);
}
.santd-select-tree li .santd-select-tree-node-content-wrapper:hover {
  background-color: #e6f7ff;
}
.santd-select-tree li .santd-select-tree-node-content-wrapper.santd-select-tree-node-selected {
  background-color: #bae7ff;
}
.santd-select-tree li span.santd-select-tree-checkbox {
  margin: 0 4px 0 0;
}
.santd-select-tree li span.santd-select-tree-checkbox + .santd-select-tree-node-content-wrapper {
  width: calc(100% - 46px);
}
.santd-select-tree li span.santd-select-tree-switcher,
.santd-select-tree li span.santd-select-tree-iconEle {
  margin: 0;
  width: 24px;
  height: 24px;
  line-height: 22px;
  display: inline-block;
  vertical-align: middle;
  border: 0 none;
  cursor: pointer;
  outline: none;
  text-align: center;
}
.santd-select-tree li span.santd-select-icon_loading .santd-select-switcher-loading-icon {
  display: inline-block;
  position: absolute;
  left: 0;
  color: #1890ff;
  transform: none;
  font-size: 14px;
}
.santd-select-tree li span.santd-select-icon_loading .santd-select-switcher-loading-icon svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.santd-select-tree li span.santd-select-tree-switcher {
  position: relative;
}
.santd-select-tree li span.santd-select-tree-switcher.santd-select-tree-switcher-noop {
  cursor: auto;
}
.santd-select-tree li span.santd-select-tree-switcher.santd-select-tree-switcher_open .santd-tree-switcher-icon,
.santd-select-tree li span.santd-select-tree-switcher.santd-select-tree-switcher_open .santd-select-switcher-icon {
  font-size: 12px;
  font-size: 7px \9;
  transform: scale(0.58333333) rotate(0deg);
  display: inline-block;
  font-weight: bold;
}
:root .santd-select-tree li span.santd-select-tree-switcher.santd-select-tree-switcher_open .santd-tree-switcher-icon,
:root .santd-select-tree li span.santd-select-tree-switcher.santd-select-tree-switcher_open .santd-select-switcher-icon {
  font-size: 12px;
}
.santd-select-tree li span.santd-select-tree-switcher.santd-select-tree-switcher_open .santd-tree-switcher-icon svg,
.santd-select-tree li span.santd-select-tree-switcher.santd-select-tree-switcher_open .santd-select-switcher-icon svg {
  transition: transform 0.3s;
}
.santd-select-tree li span.santd-select-tree-switcher.santd-select-tree-switcher_close .santd-tree-switcher-icon,
.santd-select-tree li span.santd-select-tree-switcher.santd-select-tree-switcher_close .santd-select-switcher-icon {
  font-size: 12px;
  font-size: 7px \9;
  transform: scale(0.58333333) rotate(0deg);
  display: inline-block;
  font-weight: bold;
}
:root .santd-select-tree li span.santd-select-tree-switcher.santd-select-tree-switcher_close .santd-tree-switcher-icon,
:root .santd-select-tree li span.santd-select-tree-switcher.santd-select-tree-switcher_close .santd-select-switcher-icon {
  font-size: 12px;
}
.santd-select-tree li span.santd-select-tree-switcher.santd-select-tree-switcher_close .santd-tree-switcher-icon svg,
.santd-select-tree li span.santd-select-tree-switcher.santd-select-tree-switcher_close .santd-select-switcher-icon svg {
  transition: transform 0.3s;
}
.santd-select-tree li span.santd-select-tree-switcher.santd-select-tree-switcher_close .santd-select-switcher-icon svg {
  transform: rotate(-90deg);
}
.santd-select-tree li span.santd-select-tree-switcher.santd-select-tree-switcher_open .santd-select-switcher-loading-icon,
.santd-select-tree li span.santd-select-tree-switcher.santd-select-tree-switcher_close .santd-select-switcher-loading-icon {
  display: inline-block;
  position: absolute;
  left: 0;
  width: 24px;
  height: 24px;
  color: #1890ff;
  transform: none;
  font-size: 14px;
}
.santd-select-tree li span.santd-select-tree-switcher.santd-select-tree-switcher_open .santd-select-switcher-loading-icon svg,
.santd-select-tree li span.santd-select-tree-switcher.santd-select-tree-switcher_close .santd-select-switcher-loading-icon svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.santd-select-tree .santd-select-tree-treenode-loading .santd-select-tree-iconEle {
  display: none;
}
.santd-select-tree-child-tree {
  display: none;
}
.santd-select-tree-child-tree-open {
  display: block;
}
li.santd-select-tree-treenode-disabled > span:not(.santd-select-tree-switcher),
li.santd-select-tree-treenode-disabled > .santd-select-tree-node-content-wrapper,
li.santd-select-tree-treenode-disabled > .santd-select-tree-node-content-wrapper span {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}
li.santd-select-tree-treenode-disabled > .santd-select-tree-node-content-wrapper:hover {
  background: transparent;
}
.santd-select-tree-icon__open {
  margin-right: 2px;
  vertical-align: top;
}
.santd-select-tree-icon__close {
  margin-right: 2px;
  vertical-align: top;
}
.santd-select-tree-dropdown {
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
.santd-select-tree-dropdown .santd-select-dropdown-search {
  display: block;
  padding: 4px;
}
.santd-select-tree-dropdown .santd-select-dropdown-search .santd-select-search__field__wrap {
  width: 100%;
}
.santd-select-tree-dropdown .santd-select-dropdown-search .santd-select-search__field {
  padding: 4px 7px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  outline: none;
}
.santd-select-tree-dropdown .santd-select-dropdown-search.santd-select-search--hide {
  display: none;
}
.santd-select-tree-dropdown .santd-select-not-found {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
  padding: 7px 16px;
  display: block;
}
