/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.santd-table-wrapper {
  zoom: 1;
}
.santd-table-wrapper:before,
.santd-table-wrapper:after {
  content: "";
  display: table;
}
.santd-table-wrapper:after {
  clear: both;
}
.santd-table {
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  clear: both;
}
.santd-table-body {
  transition: opacity 0.3s;
}
.santd-table-empty .santd-table-body {
  overflow-x: auto !important;
  overflow-y: hidden !important;
}
.santd-table table {
  width: 100%;
  text-align: left;
  border-radius: 4px 4px 0 0;
  border-collapse: separate;
  border-spacing: 0;
}
.santd-table-layout-fixed table {
  table-layout: fixed;
}
.santd-table-thead > tr > th {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  text-align: left;
  background: #fafafa;
  border-bottom: 1px solid #e8e8e8;
  transition: background 0.3s ease;
}
.santd-table-thead > tr > th[colspan] {
  text-align: center;
}
.santd-table-thead > tr > th .santd-table-filter-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 28px;
  height: 100%;
  color: #bfbfbf;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
}
.santd-table-thead > tr > th .santd-table-filter-icon > i,
.santd-table-thead > tr > th .santd-table-filter-icon > svg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -6px;
}
.santd-table-thead > tr > th .santd-table-filter-selected.santd-icon-filter {
  color: #1890ff;
}
.santd-table-thead > tr > th .santd-table-column-sorter {
  display: table-cell;
  vertical-align: middle;
}
.santd-table-thead > tr > th .santd-table-column-sorter .santd-table-column-sorter-inner {
  height: 1em;
  margin-top: 0.35em;
  margin-left: 0.57142857em;
  color: #bfbfbf;
  line-height: 1em;
  text-align: center;
  transition: all 0.3s;
}
.santd-table-thead > tr > th .santd-table-column-sorter .santd-table-column-sorter-inner .santd-table-column-sorter-up,
.santd-table-thead > tr > th .santd-table-column-sorter .santd-table-column-sorter-inner .santd-table-column-sorter-down {
  display: inline-block;
  font-size: 12px;
  font-size: 11px \9;
  transform: scale(0.91666667) rotate(0deg);
  display: block;
  height: 1em;
  line-height: 1em;
  transition: all 0.3s;
}
:root .santd-table-thead > tr > th .santd-table-column-sorter .santd-table-column-sorter-inner .santd-table-column-sorter-up,
:root .santd-table-thead > tr > th .santd-table-column-sorter .santd-table-column-sorter-inner .santd-table-column-sorter-down {
  font-size: 12px;
}
.santd-table-thead > tr > th .santd-table-column-sorter .santd-table-column-sorter-inner .santd-table-column-sorter-up.on,
.santd-table-thead > tr > th .santd-table-column-sorter .santd-table-column-sorter-inner .santd-table-column-sorter-down.on {
  color: #1890ff;
}
.santd-table-thead > tr > th .santd-table-column-sorter .santd-table-column-sorter-inner-full {
  margin-top: -0.15em;
}
.santd-table-thead > tr > th .santd-table-column-sorter .santd-table-column-sorter-inner-full .santd-table-column-sorter-up,
.santd-table-thead > tr > th .santd-table-column-sorter .santd-table-column-sorter-inner-full .santd-table-column-sorter-down {
  height: 0.5em;
  line-height: 0.5em;
}
.santd-table-thead > tr > th .santd-table-column-sorter .santd-table-column-sorter-inner-full .santd-table-column-sorter-down {
  margin-top: 0.125em;
}
.santd-table-thead > tr > th.santd-table-column-has-actions {
  position: relative;
  background-clip: padding-box;
  /* stylelint-disable-next-line */
  -webkit-background-clip: border-box;
}
.santd-table-thead > tr > th.santd-table-column-has-actions.santd-table-column-has-filters {
  padding-right: 30px !important;
}
.santd-table-thead > tr > th.santd-table-column-has-actions.santd-table-column-has-filters .santd-icon-filter.santd-table-filter-open,
.santd-table-thead > tr > th.santd-table-column-has-actions.santd-table-column-has-filters .santd-table-filter-icon.santd-table-filter-open {
  color: rgba(0, 0, 0, 0.45);
  background: #e5e5e5;
}
.santd-table-thead > tr > th.santd-table-column-has-actions.santd-table-column-has-filters:hover .santd-icon-filter:hover,
.santd-table-thead > tr > th.santd-table-column-has-actions.santd-table-column-has-filters:hover .santd-table-filter-icon:hover {
  color: rgba(0, 0, 0, 0.45);
  background: #e5e5e5;
}
.santd-table-thead > tr > th.santd-table-column-has-actions.santd-table-column-has-filters:hover .santd-icon-filter:active,
.santd-table-thead > tr > th.santd-table-column-has-actions.santd-table-column-has-filters:hover .santd-table-filter-icon:active {
  color: rgba(0, 0, 0, 0.65);
}
.santd-table-thead > tr > th.santd-table-column-has-actions.santd-table-column-has-sorters {
  cursor: pointer;
}
.santd-table-thead > tr > th.santd-table-column-has-actions.santd-table-column-has-sorters:hover {
  background: #f2f2f2;
}
.santd-table-thead > tr > th.santd-table-column-has-actions.santd-table-column-has-sorters:hover .santd-icon-filter,
.santd-table-thead > tr > th.santd-table-column-has-actions.santd-table-column-has-sorters:hover .santd-table-filter-icon {
  background: #f2f2f2;
}
.santd-table-thead > tr > th.santd-table-column-has-actions.santd-table-column-has-sorters:active .santd-table-column-sorter-up:not(.on),
.santd-table-thead > tr > th.santd-table-column-has-actions.santd-table-column-has-sorters:active .santd-table-column-sorter-down:not(.on) {
  color: rgba(0, 0, 0, 0.45);
}
.santd-table-thead > tr > th .santd-table-header-column {
  display: inline-block;
  max-width: 100%;
  vertical-align: top;
}
.santd-table-thead > tr > th .santd-table-header-column .santd-table-column-sorters {
  display: table;
}
.santd-table-thead > tr > th .santd-table-header-column .santd-table-column-sorters > .santd-table-column-title {
  display: table-cell;
  vertical-align: middle;
}
.santd-table-thead > tr > th .santd-table-header-column .santd-table-column-sorters > *:not(.santd-table-column-sorter) {
  position: relative;
}
.santd-table-thead > tr > th .santd-table-header-column .santd-table-column-sorters::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  transition: all 0.3s;
  content: '';
}
.santd-table-thead > tr > th .santd-table-header-column .santd-table-column-sorters:hover::before {
  background: rgba(0, 0, 0, 0.04);
}
.santd-table-thead > tr > th.santd-table-column-has-sorters {
  user-select: none;
}
.santd-table-thead > tr:first-child > th:first-child {
  border-top-left-radius: 4px;
}
.santd-table-thead > tr:first-child > th:last-child {
  border-top-right-radius: 4px;
}
.santd-table-thead > tr:not(:last-child) > th[colspan] {
  border-bottom: 0;
}
.santd-table-tbody > tr > td {
  border-bottom: 1px solid #e8e8e8;
  transition: all 0.3s, border 0s;
}
.santd-table-thead > tr,
.santd-table-tbody > tr {
  transition: all 0.3s, height 0s;
}
.santd-table-thead > tr.santd-table-row-hover:not(.santd-table-expanded-row):not(.santd-table-row-selected) > td,
.santd-table-tbody > tr.santd-table-row-hover:not(.santd-table-expanded-row):not(.santd-table-row-selected) > td,
.santd-table-thead > tr:hover:not(.santd-table-expanded-row):not(.santd-table-row-selected) > td,
.santd-table-tbody > tr:hover:not(.santd-table-expanded-row):not(.santd-table-row-selected) > td {
  background: #e6f7ff;
}
.santd-table-thead > tr.santd-table-row-selected > td.santd-table-column-sort,
.santd-table-tbody > tr.santd-table-row-selected > td.santd-table-column-sort {
  background: #fafafa;
}
.santd-table-thead > tr:hover.santd-table-row-selected > td,
.santd-table-tbody > tr:hover.santd-table-row-selected > td {
  background: #fafafa;
}
.santd-table-thead > tr:hover.santd-table-row-selected > td.santd-table-column-sort,
.santd-table-tbody > tr:hover.santd-table-row-selected > td.santd-table-column-sort {
  background: #fafafa;
}
.santd-table-thead > tr:hover {
  background: none;
}
.santd-table-footer {
  position: relative;
  padding: 16px 16px;
  color: rgba(0, 0, 0, 0.85);
  background: #fafafa;
  border-top: 1px solid #e8e8e8;
  border-radius: 0 0 4px 4px;
}
.santd-table-footer::before {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fafafa;
  content: '';
}
.santd-table.santd-table-bordered .santd-table-footer {
  border: 1px solid #e8e8e8;
}
.santd-table-title {
  position: relative;
  top: 1px;
  padding: 16px 0;
  border-radius: 4px 4px 0 0;
}
.santd-table.santd-table-bordered .santd-table-title {
  padding-right: 16px;
  padding-left: 16px;
  border: 1px solid #e8e8e8;
}
.santd-table-title + .santd-table-content {
  position: relative;
  border-radius: 4px 4px 0 0;
}
.santd-table-bordered .santd-table-title + .santd-table-content,
.santd-table-bordered .santd-table-title + .santd-table-content table,
.santd-table-bordered .santd-table-title + .santd-table-content .santd-table-thead > tr:first-child > th {
  border-radius: 0;
}
.santd-table-without-column-header .santd-table-title + .santd-table-content,
.santd-table-without-column-header table {
  border-radius: 0;
}
.santd-table-without-column-header.santd-table-bordered.santd-table-empty .santd-table-placeholder {
  border-top: 1px solid #e8e8e8;
  border-radius: 4px;
}
.santd-table-tbody > tr.santd-table-row-selected td {
  color: inherit;
  background: #fafafa;
}
.santd-table-thead > tr > th.santd-table-column-sort {
  background: #f5f5f5;
}
.santd-table-tbody > tr > td.santd-table-column-sort {
  background: rgba(0, 0, 0, 0.01);
}
.santd-table-thead > tr > th,
.santd-table-tbody > tr > td {
  padding: 16px 16px;
  overflow-wrap: break-word;
}
.santd-table-expand-icon-th,
.santd-table-row-expand-icon-cell {
  width: 50px;
  min-width: 50px;
  text-align: center;
}
.santd-table-header {
  overflow: hidden;
  background: #fafafa;
}
.santd-table-header table {
  border-radius: 4px 4px 0 0;
}
.santd-table-loading {
  position: relative;
}
.santd-table-loading .santd-table-body {
  background: #fff;
  opacity: 0.5;
}
.santd-table-loading .santd-table-spin-holder {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 20px;
  margin-left: -30px;
  line-height: 20px;
}
.santd-table-loading .santd-table-with-pagination {
  margin-top: -20px;
}
.santd-table-loading .santd-table-without-pagination {
  margin-top: 10px;
}
.santd-table-bordered .santd-table-header > table,
.santd-table-bordered .santd-table-body > table,
.santd-table-bordered .santd-table-fixed-left table,
.santd-table-bordered .santd-table-fixed-right table {
  border: 1px solid #e8e8e8;
  border-right: 0;
  border-bottom: 0;
}
.santd-table-bordered.santd-table-empty .santd-table-placeholder {
  border-right: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}
.santd-table-bordered.santd-table-fixed-header .santd-table-header > table {
  border-bottom: 0;
}
.santd-table-bordered.santd-table-fixed-header .santd-table-body > table {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.santd-table-bordered.santd-table-fixed-header .santd-table-header + .santd-table-body > table,
.santd-table-bordered.santd-table-fixed-header .santd-table-body-inner > table {
  border-top: 0;
}
.santd-table-bordered .santd-table-thead > tr:not(:last-child) > th {
  border-bottom: 1px solid #e8e8e8;
}
.santd-table-bordered .santd-table-thead > tr > th,
.santd-table-bordered .santd-table-tbody > tr > td {
  border-right: 1px solid #e8e8e8;
}
.santd-table-placeholder {
  position: relative;
  z-index: 1;
  margin-top: -1px;
  padding: 16px 16px;
  color: rgba(0, 0, 0, 0.25);
  font-size: 14px;
  text-align: center;
  background: #fff;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  border-radius: 0 0 4px 4px;
}
.santd-table-pagination {
  float: right;
  margin: 16px 0;
}
.santd-table-filter-dropdown {
  position: relative;
  min-width: 96px;
  margin-left: -8px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.santd-table-filter-dropdown .santd-dropdown-menu {
  border: 0;
  border-radius: 4px 4px 0 0;
  box-shadow: none;
}
.santd-table-filter-dropdown .santd-dropdown-menu-without-submenu {
  max-height: 400px;
  overflow-x: hidden;
}
.santd-table-filter-dropdown .santd-dropdown-menu-item > label + span {
  padding-right: 0;
}
.santd-table-filter-dropdown .santd-dropdown-menu-sub {
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.santd-table-filter-dropdown .santd-dropdown-menu .santd-dropdown-submenu-contain-selected .santd-dropdown-menu-submenu-title::after {
  color: #1890ff;
  font-weight: bold;
  text-shadow: 0 0 2px #bae7ff;
}
.santd-table-filter-dropdown .santd-dropdown-menu-item {
  overflow: hidden;
}
.santd-table-filter-dropdown > .santd-dropdown-menu > .santd-dropdown-menu-item:last-child,
.santd-table-filter-dropdown > .santd-dropdown-menu > .santd-dropdown-menu-submenu:last-child .santd-dropdown-menu-submenu-title {
  border-radius: 0;
}
.santd-table-filter-dropdown-btns {
  padding: 7px 8px;
  overflow: hidden;
  border-top: 1px solid #e8e8e8;
}
.santd-table-filter-dropdown-link {
  color: #1890ff;
}
.santd-table-filter-dropdown-link:hover {
  color: #40a9ff;
}
.santd-table-filter-dropdown-link:active {
  color: #096dd9;
}
.santd-table-filter-dropdown-link.confirm {
  float: left;
}
.santd-table-filter-dropdown-link.clear {
  float: right;
}
.santd-table-selection {
  white-space: nowrap;
}
.santd-table-selection-select-all-custom {
  margin-right: 4px !important;
}
.santd-table-selection .santd-icon-down {
  color: #bfbfbf;
  transition: all 0.3s;
}
.santd-table-selection-menu {
  min-width: 96px;
  margin-top: 5px;
  margin-left: -30px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.santd-table-selection-menu .santd-action-down {
  color: #bfbfbf;
}
.santd-table-selection-down {
  display: inline-block;
  padding: 0;
  line-height: 1;
  cursor: pointer;
}
.santd-table-selection-down:hover .santd-icon-down {
  color: rgba(0, 0, 0, 0.6);
}
.santd-table-row-expand-icon {
  color: #1890ff;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s;
  display: inline-block;
  width: 17px;
  height: 17px;
  color: inherit;
  line-height: 13px;
  text-align: center;
  background: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  outline: none;
  transition: all 0.3s;
  user-select: none;
}
.santd-table-row-expand-icon:focus,
.santd-table-row-expand-icon:hover {
  color: #40a9ff;
}
.santd-table-row-expand-icon:active {
  color: #096dd9;
}
.santd-table-row-expand-icon:focus,
.santd-table-row-expand-icon:hover,
.santd-table-row-expand-icon:active {
  border-color: currentColor;
}
.santd-table-row-expanded::after {
  content: '-';
}
.santd-table-row-collapsed::after {
  content: '+';
}
.santd-table-row-spaced {
  visibility: hidden;
}
.santd-table-row-spaced::after {
  content: '.';
}
.santd-table-row-cell-ellipsis,
.santd-table-row-cell-ellipsis .santd-table-column-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.santd-table-row-cell-ellipsis .santd-table-column-title {
  display: block;
}
.santd-table-row-cell-break-word {
  word-wrap: break-word;
  word-break: break-word;
}
tr.santd-table-expanded-row,
tr.santd-table-expanded-row:hover {
  background: #fbfbfb;
}
tr.santd-table-expanded-row td > .santd-table-wrapper {
  margin: -16px -16px -17px;
}
.santd-table .santd-table-row-indent + .santd-table-row-expand-icon {
  margin-right: 8px;
}
.santd-table-scroll {
  overflow: auto;
  overflow-x: hidden;
}
.santd-table-scroll table {
  min-width: 100%;
}
.santd-table-scroll table .santd-table-fixed-columns-in-body {
  visibility: hidden;
}
.santd-table-body-inner {
  height: 100%;
}
.santd-table-fixed-header > .santd-table-content > .santd-table-scroll > .santd-table-body {
  position: relative;
  background: #fff;
}
.santd-table-fixed-header .santd-table-body-inner {
  overflow: scroll;
}
.santd-table-fixed-header .santd-table-scroll .santd-table-header {
  margin-bottom: -16px;
  overflow: scroll hidden;
  opacity: 0.9999;
}
.santd-table-fixed-header .santd-table-scroll .santd-table-header::-webkit-scrollbar {
  border: 1px solid #e8e8e8;
  border-width: 0 0 1px 0;
}
.santd-table-hide-scrollbar {
  scrollbar-color: transparent transparent;
}
.santd-table-hide-scrollbar::-webkit-scrollbar {
  background-color: transparent;
}
.santd-table-bordered.santd-table-fixed-header .santd-table-scroll .santd-table-header::-webkit-scrollbar {
  border: 1px solid #e8e8e8;
  border-width: 1px 1px 1px 0;
}
.santd-table-fixed-left,
.santd-table-fixed-right {
  position: absolute;
  top: 0;
  z-index: auto;
  overflow: hidden;
  border-radius: 0;
  transition: box-shadow 0.3s ease;
}
.santd-table-fixed-left table,
.santd-table-fixed-right table {
  width: auto;
  background: #fff;
}
.santd-table-fixed-header .santd-table-fixed-left .santd-table-body-outer .santd-table-fixed,
.santd-table-fixed-header .santd-table-fixed-right .santd-table-body-outer .santd-table-fixed {
  border-radius: 0;
}
.santd-table-fixed-left {
  left: 0;
  box-shadow: 6px 0 6px -4px rgba(0, 0, 0, 0.15);
}
.santd-table-fixed-left .santd-table-header {
  overflow-y: hidden;
}
.santd-table-fixed-left .santd-table-body-inner {
  margin-right: -20px;
  padding-right: 20px;
}
.santd-table-fixed-header .santd-table-fixed-left .santd-table-body-inner {
  padding-right: 0;
}
.santd-table-fixed-left,
.santd-table-fixed-left table {
  border-radius: 4px 0 0 0;
}
.santd-table-fixed-left .ant-table-thead > tr > th:last-child {
  border-top-right-radius: 0;
}
.santd-table-fixed-right {
  right: 0;
  box-shadow: -6px 0 6px -4px rgba(0, 0, 0, 0.15);
}
.santd-table-fixed-right,
.santd-table-fixed-right table {
  border-radius: 0 4px 0 0;
}
.santd-table-fixed-right .santd-table-expanded-row {
  color: transparent;
  pointer-events: none;
}
.santd-table-fixed-right .ant-table-thead > tr > th:first-child {
  border-top-left-radius: 0;
}
.santd-table.santd-table-scroll-position-left .santd-table-fixed-left {
  box-shadow: none;
}
.santd-table.santd-table-scroll-position-right .santd-table-fixed-right {
  box-shadow: none;
}
.santd-table colgroup > col.santd-table-selection-col {
  width: 60px;
}
.santd-table-thead > tr > th.santd-table-selection-column-custom .santd-table-selection {
  margin-right: -15px;
}
.santd-table-thead > tr > th.santd-table-selection-column,
.santd-table-tbody > tr > td.santd-table-selection-column {
  text-align: center;
}
.santd-table-thead > tr > th.santd-table-selection-column .santd-radio-wrapper,
.santd-table-tbody > tr > td.santd-table-selection-column .santd-radio-wrapper {
  margin-right: 0;
}
.santd-table-row[class*='santd-table-row-level-0'] .santd-table-selection-column > span {
  display: inline-block;
}
.santd-table-filter-dropdown .santd-checkbox-wrapper + span,
.santd-table-filter-dropdown-submenu .santd-checkbox-wrapper + span {
  padding-left: 8px;
}
/**
* Another fix of Firefox:
*/
@supports (-moz-appearance: meterbar) {
  .santd-table-thead > tr > th.santd-table-column-has-actions {
    background-clip: padding-box;
  }
}
.santd-table-middle > .santd-table-title,
.santd-table-middle > .santd-table-footer {
  padding: 12px 8px;
}
.santd-table-middle > .santd-table-content > .santd-table-header > table > .santd-table-thead > tr > th,
.santd-table-middle > .santd-table-content > .santd-table-body > table > .santd-table-thead > tr > th,
.santd-table-middle > .santd-table-content > .santd-table-scroll > .santd-table-header > table > .santd-table-thead > tr > th,
.santd-table-middle > .santd-table-content > .santd-table-scroll > .santd-table-body > table > .santd-table-thead > tr > th,
.santd-table-middle > .santd-table-content > .santd-table-fixed-left > div > .santd-table-header > table > .santd-table-thead > tr > th,
.santd-table-middle > .santd-table-content > .santd-table-fixed-right > div > .santd-table-header > table > .santd-table-thead > tr > th,
.santd-table-middle > .santd-table-content > .santd-table-fixed-left > div > .santd-table-body-outer > .santd-table-body-inner > table > .santd-table-thead > tr > th,
.santd-table-middle > .santd-table-content > .santd-table-fixed-right > div > .santd-table-body-outer > .santd-table-body-inner > table > .santd-table-thead > tr > th,
.santd-table-middle > .santd-table-content > .santd-table-header > table > .santd-table-tbody > tr > td,
.santd-table-middle > .santd-table-content > .santd-table-body > table > .santd-table-tbody > tr > td,
.santd-table-middle > .santd-table-content > .santd-table-scroll > .santd-table-header > table > .santd-table-tbody > tr > td,
.santd-table-middle > .santd-table-content > .santd-table-scroll > .santd-table-body > table > .santd-table-tbody > tr > td,
.santd-table-middle > .santd-table-content > .santd-table-fixed-left > div > .santd-table-header > table > .santd-table-tbody > tr > td,
.santd-table-middle > .santd-table-content > .santd-table-fixed-right > div > .santd-table-header > table > .santd-table-tbody > tr > td,
.santd-table-middle > .santd-table-content > .santd-table-fixed-left > div > .santd-table-body-outer > .santd-table-body-inner > table > .santd-table-tbody > tr > td,
.santd-table-middle > .santd-table-content > .santd-table-fixed-right > div > .santd-table-body-outer > .santd-table-body-inner > table > .santd-table-tbody > tr > td {
  padding: 12px 8px;
}
.santd-table-small {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}
.santd-table-small > .santd-table-title,
.santd-table-small > .santd-table-footer {
  padding: 8px 8px;
}
.santd-table-small > .santd-table-title {
  border-bottom: 1px solid #e8e8e8;
  top: 0;
}
.santd-table-small > .santd-table-content > .santd-table-body {
  margin: 0 8px;
}
.santd-table-small > .santd-table-content > .santd-table-header > table,
.santd-table-small > .santd-table-content > .santd-table-body > table,
.santd-table-small > .santd-table-content > .santd-table-scroll > .santd-table-header > table,
.santd-table-small > .santd-table-content > .santd-table-scroll > .santd-table-body > table,
.santd-table-small > .santd-table-content > .santd-table-fixed-left > div > .santd-table-header > table,
.santd-table-small > .santd-table-content > .santd-table-fixed-right > div > .santd-table-header > table,
.santd-table-small > .santd-table-content > .santd-table-fixed-left > div > .santd-table-body-outer > .santd-table-body-inner > table,
.santd-table-small > .santd-table-content > .santd-table-fixed-right > div > .santd-table-body-outer > .santd-table-body-inner > table {
  border: 0;
}
.santd-table-small > .santd-table-content > .santd-table-header > table > .santd-table-thead > tr > th,
.santd-table-small > .santd-table-content > .santd-table-body > table > .santd-table-thead > tr > th,
.santd-table-small > .santd-table-content > .santd-table-scroll > .santd-table-header > table > .santd-table-thead > tr > th,
.santd-table-small > .santd-table-content > .santd-table-scroll > .santd-table-body > table > .santd-table-thead > tr > th,
.santd-table-small > .santd-table-content > .santd-table-fixed-left > div > .santd-table-header > table > .santd-table-thead > tr > th,
.santd-table-small > .santd-table-content > .santd-table-fixed-right > div > .santd-table-header > table > .santd-table-thead > tr > th,
.santd-table-small > .santd-table-content > .santd-table-fixed-left > div > .santd-table-body-outer > .santd-table-body-inner > table > .santd-table-thead > tr > th,
.santd-table-small > .santd-table-content > .santd-table-fixed-right > div > .santd-table-body-outer > .santd-table-body-inner > table > .santd-table-thead > tr > th,
.santd-table-small > .santd-table-content > .santd-table-header > table > .santd-table-tbody > tr > td,
.santd-table-small > .santd-table-content > .santd-table-body > table > .santd-table-tbody > tr > td,
.santd-table-small > .santd-table-content > .santd-table-scroll > .santd-table-header > table > .santd-table-tbody > tr > td,
.santd-table-small > .santd-table-content > .santd-table-scroll > .santd-table-body > table > .santd-table-tbody > tr > td,
.santd-table-small > .santd-table-content > .santd-table-fixed-left > div > .santd-table-header > table > .santd-table-tbody > tr > td,
.santd-table-small > .santd-table-content > .santd-table-fixed-right > div > .santd-table-header > table > .santd-table-tbody > tr > td,
.santd-table-small > .santd-table-content > .santd-table-fixed-left > div > .santd-table-body-outer > .santd-table-body-inner > table > .santd-table-tbody > tr > td,
.santd-table-small > .santd-table-content > .santd-table-fixed-right > div > .santd-table-body-outer > .santd-table-body-inner > table > .santd-table-tbody > tr > td {
  padding: 8px 8px;
}
.santd-table-small > .santd-table-content > .santd-table-header > table > .santd-table-thead > tr > th,
.santd-table-small > .santd-table-content > .santd-table-body > table > .santd-table-thead > tr > th,
.santd-table-small > .santd-table-content > .santd-table-scroll > .santd-table-header > table > .santd-table-thead > tr > th,
.santd-table-small > .santd-table-content > .santd-table-scroll > .santd-table-body > table > .santd-table-thead > tr > th,
.santd-table-small > .santd-table-content > .santd-table-fixed-left > div > .santd-table-header > table > .santd-table-thead > tr > th,
.santd-table-small > .santd-table-content > .santd-table-fixed-right > div > .santd-table-header > table > .santd-table-thead > tr > th,
.santd-table-small > .santd-table-content > .santd-table-fixed-left > div > .santd-table-body-outer > .santd-table-body-inner > table > .santd-table-thead > tr > th,
.santd-table-small > .santd-table-content > .santd-table-fixed-right > div > .santd-table-body-outer > .santd-table-body-inner > table > .santd-table-thead > tr > th {
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
}
.santd-table-small > .santd-table-content > .santd-table-header > table > .santd-table-thead > tr > th.santd-table-column-sort,
.santd-table-small > .santd-table-content > .santd-table-body > table > .santd-table-thead > tr > th.santd-table-column-sort,
.santd-table-small > .santd-table-content > .santd-table-scroll > .santd-table-header > table > .santd-table-thead > tr > th.santd-table-column-sort,
.santd-table-small > .santd-table-content > .santd-table-scroll > .santd-table-body > table > .santd-table-thead > tr > th.santd-table-column-sort,
.santd-table-small > .santd-table-content > .santd-table-fixed-left > div > .santd-table-header > table > .santd-table-thead > tr > th.santd-table-column-sort,
.santd-table-small > .santd-table-content > .santd-table-fixed-right > div > .santd-table-header > table > .santd-table-thead > tr > th.santd-table-column-sort,
.santd-table-small > .santd-table-content > .santd-table-fixed-left > div > .santd-table-body-outer > .santd-table-body-inner > table > .santd-table-thead > tr > th.santd-table-column-sort,
.santd-table-small > .santd-table-content > .santd-table-fixed-right > div > .santd-table-body-outer > .santd-table-body-inner > table > .santd-table-thead > tr > th.santd-table-column-sort {
  background: rgba(0, 0, 0, 0.01);
}
.santd-table-small > .santd-table-content > .santd-table-scroll > .santd-table-header > table,
.santd-table-small > .santd-table-content > .santd-table-scroll > .santd-table-body > table,
.santd-table-small > .santd-table-content > .santd-table-fixed-left > div > .santd-table-header > table,
.santd-table-small > .santd-table-content > .santd-table-fixed-right > div > .santd-table-header > table,
.santd-table-small > .santd-table-content > .santd-table-fixed-left > div > .santd-table-body-outer > .santd-table-body-inner > table,
.santd-table-small > .santd-table-content > .santd-table-fixed-right > div > .santd-table-body-outer > .santd-table-body-inner > table {
  padding: 0;
}
.santd-table-small > .santd-table-content .santd-table-header {
  background: #fff;
}
.santd-table-small > .santd-table-content .santd-table-placeholder,
.santd-table-small > .santd-table-content .santd-table-row:last-child td {
  border-bottom: 0;
}
.santd-table-small.santd-table-bordered {
  border-right: 0;
}
.santd-table-small.santd-table-bordered .santd-table-title {
  border: 0;
  border-bottom: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
}
.santd-table-small.santd-table-bordered .santd-table-content {
  border-right: 1px solid #e8e8e8;
}
.santd-table-small.santd-table-bordered .santd-table-footer {
  border: 0;
  border-top: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
}
.santd-table-small.santd-table-bordered .santd-table-footer:before {
  display: none;
}
.santd-table-small.santd-table-bordered .santd-table-placeholder {
  border-left: 0;
  border-bottom: 0;
}
.santd-table-small.santd-table-bordered .santd-table-thead > tr > th:last-child,
.santd-table-small.santd-table-bordered .santd-table-tbody > tr > td:last-child {
  border-right: none;
}
.santd-table-small.santd-table-bordered .santd-table-fixed-left .santd-table-thead > tr > th:last-child,
.santd-table-small.santd-table-bordered .santd-table-fixed-left .santd-table-tbody > tr > td:last-child {
  border-right: 1px solid #e8e8e8;
}
.santd-table-small.santd-table-bordered .santd-table-fixed-right {
  border-right: 1px solid #e8e8e8;
}
.santd-table-scroll-position-middle .santd-table-left-sticky + .santd-table-right-sticky,
.santd-table-scroll-position-left .santd-table-left-sticky + .santd-table-right-sticky {
  box-shadow: none;
}
.santd-table-scroll-position-middle table.santd-table-fixed,
.santd-table-scroll-position-right table.santd-table-fixed {
  border-left: none;
}
.santd-table-left-sticky,
.santd-table-right-sticky {
  position: sticky !important;
  z-index: 1;
  background: #fff;
}
.santd-table-tbody > tr:hover > td.santd-table-left-sticky {
  background: #e6f7ff;
}
.santd-table-tbody > tr:hover > td.santd-table-right-sticky {
  background: #e6f7ff;
}
.santd-table-thead > tr > th .santd-table-column-sorters > san-dropdown {
  position: static !important;
}
.santd-table-scroll-position-middle .santd-table-left-sticky {
  box-shadow: 6px 0 6px 0px rgba(0, 0, 0, 0.05);
}
.santd-table-scroll-position-middle .santd-table-right-sticky {
  box-shadow: -6px 0 6px 0px rgba(0, 0, 0, 0.05);
}
.santd-table-scroll-position-left .santd-table-right-sticky {
  box-shadow: -6px 0 6px 0px rgba(0, 0, 0, 0.05);
}
.santd-table-scroll-position-right .santd-table-left-sticky {
  box-shadow: 6px 0 6px 0px rgba(0, 0, 0, 0.05);
}
.santd-table-bordered:not(.santd-table-small).santd-table-scroll-position-middle tr > th:first-child.santd-table-left-sticky,
.santd-table-bordered:not(.santd-table-small).santd-table-scroll-position-middle tr > td:first-child.santd-table-left-sticky {
  border-left: 1px solid #e8e8e8;
}
.santd-table-bordered:not(.santd-table-small).santd-table-scroll-position-middle .santd-table-right-sticky,
.santd-table-bordered:not(.santd-table-small).santd-table-scroll-position-middle .santd-table-right-sticky {
  border-right: 1px solid #e8e8e8;
}
.santd-table-bordered:not(.santd-table-small).santd-table-scroll-position-left .santd-table-right-sticky,
.santd-table-bordered:not(.santd-table-small).santd-table-scroll-position-left .santd-table-right-sticky {
  border-right: 1px solid #e8e8e8;
}
.santd-table-bordered:not(.santd-table-small).santd-table-scroll-position-right tr > th:first-child.santd-table-left-sticky,
.santd-table-bordered:not(.santd-table-small).santd-table-scroll-position-right tr > td:first-child.santd-table-left-sticky {
  border-left: 1px solid #e8e8e8;
}
