/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.santd-form {
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
.santd-form legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: inherit;
  color: rgba(0, 0, 0, 0.45);
  border: 0;
  border-bottom: 1px solid #d9d9d9;
}
.santd-form label {
  font-size: 14px;
}
.santd-form input[type="search"] {
  box-sizing: border-box;
}
.santd-form input[type="radio"],
.santd-form input[type="checkbox"] {
  line-height: normal;
}
.santd-form input[type="file"] {
  display: block;
}
.santd-form input[type="range"] {
  display: block;
  width: 100%;
}
.santd-form select[multiple],
.santd-form select[size] {
  height: auto;
}
.santd-form input[type="file"]:focus,
.santd-form input[type="radio"]:focus,
.santd-form input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.santd-form output {
  display: block;
  padding-top: 15px;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
}
.santd-form-item-required:before {
  display: inline-block;
  margin-right: 4px;
  content: "*";
  font-family: SimSun;
  line-height: 1;
  font-size: 14px;
  color: #f5222d;
}
.santd-form-hide-required-mark .santd-form-item-required:before {
  display: none;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled {
  cursor: not-allowed;
}
.santd-radio-inline.disabled,
.santd-radio-vertical.disabled,
.santd-checkbox-inline.disabled,
.santd-checkbox-vertical.disabled {
  cursor: not-allowed;
}
.santd-radio.disabled label,
.santd-checkbox.disabled label {
  cursor: not-allowed;
}
.santd-form-item {
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 24px;
  vertical-align: top;
}
.santd-form-item label {
  position: relative;
}
.santd-form-item label > .santd-icon {
  vertical-align: top;
  font-size: 14px;
}
.santd-form-item-control > .santd-form-item:last-child,
.santd-form-item [class^="santd-col-"] > .santd-form-item:only-child {
  margin-bottom: -24px;
}
.santd-form-item-control {
  line-height: 39.9999px;
  position: relative;
  zoom: 1;
}
.santd-form-item-control:before,
.santd-form-item-control:after {
  content: "";
  display: table;
}
.santd-form-item-control:after {
  clear: both;
}
.santd-form-item-children {
  position: relative;
}
.santd-form-item-with-help {
  margin-bottom: 5px;
}
.santd-form-item-label {
  text-align: right;
  vertical-align: middle;
  line-height: 39.9999px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
.santd-form-item-label-left {
  text-align: left;
}
.santd-form-item .santd-switch {
  margin: 2px 0 4px;
}
.santd-form-item-label > label {
  color: rgba(0, 0, 0, 0.85);
}
.santd-form-item-label > label::after {
  content: ':';
  position: relative;
  top: -0.5px;
  margin: 0 8px 0 2px;
}
.santd-form-item-label > label.santd-form-item-no-colon::after {
  content: ' ';
}
.santd-form-explain,
.santd-form-extra {
  color: rgba(0, 0, 0, 0.45);
  line-height: 1.5;
  transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-top: -2px;
  clear: both;
}
.santd-form-extra {
  padding-top: 4px;
}
.santd-form-text {
  display: inline-block;
  padding-right: 8px;
}
.santd-form-split {
  display: block;
  text-align: center;
}
form .has-feedback .santd-input {
  padding-right: 24px;
}
form .has-feedback > .santd-select .santd-select-arrow,
form .has-feedback > .santd-select .santd-select-selection__clear,
form .has-feedback :not(.santd-input-group-addon) > .santd-select .santd-select-arrow,
form .has-feedback :not(.santd-input-group-addon) > .santd-select .santd-select-selection__clear {
  right: 28px;
}
form .has-feedback > .santd-select .santd-select-selection-selected-value,
form .has-feedback :not(.santd-input-group-addon) > .santd-select .santd-select-selection-selected-value {
  padding-right: 42px;
}
form .has-feedback .santd-cascader-picker-arrow {
  margin-right: 17px;
}
form .has-feedback .santd-cascader-picker-clear {
  right: 28px;
}
form .has-feedback .santd-input-search:not(.santd-input-search-enter-button) .santd-input-suffix {
  right: 28px;
}
form .has-feedback .santd-calendar-picker-icon,
form .has-feedback .santd-time-picker-icon,
form .has-feedback .santd-calendar-picker-clear,
form .has-feedback .santd-time-picker-clear {
  right: 28px;
}
form textarea.santd-input {
  height: auto;
}
form .santd-upload {
  background: transparent;
}
form input[type="radio"],
form input[type="checkbox"] {
  width: 14px;
  height: 14px;
}
form .santd-radio-inline,
form .santd-checkbox-inline {
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
  margin-left: 8px;
}
form .santd-radio-inline:first-child,
form .santd-checkbox-inline:first-child {
  margin-left: 0;
}
form .santd-checkbox-vertical,
form .santd-radio-vertical {
  display: block;
}
form .santd-checkbox-vertical + .santd-checkbox-vertical,
form .santd-radio-vertical + .santd-radio-vertical {
  margin-left: 0;
}
form .santd-input-number + .santd-form-text {
  margin-left: 8px;
}
form .santd-input-number-handler-wrap {
  z-index: 2;
}
form .santd-select,
form .santd-cascader-picker {
  width: 100%;
}
form .santd-input-group .santd-select,
form .santd-input-group .santd-cascader-picker {
  width: auto;
}
form :not(.santd-input-group-wrapper) > .santd-input-group,
form .santd-input-group-wrapper {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -1px;
}
.santd-input-group-wrap .santd-select-selection {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.santd-input-group-wrap .santd-select-selection:hover {
  border-color: #d9d9d9;
}
.santd-input-group-wrap .santd-select-selection--single {
  margin-left: -1px;
  height: 40px;
  background-color: #eee;
}
.santd-input-group-wrap .santd-select-selection--single .santd-select-selection__rendered {
  padding-left: 8px;
  padding-right: 25px;
  line-height: 30px;
}
.santd-input-group-wrap .santd-select-open .santd-select-selection {
  border-color: #d9d9d9;
  box-shadow: none;
}
.santd-form-vertical .santd-form-item-label,
.santd-col-24.santd-form-item-label,
.santd-col-xl-24.santd-form-item-label {
  padding: 0 0 8px;
  margin: 0;
  display: block;
  text-align: left;
  line-height: 1.5;
}
.santd-form-vertical .santd-form-item-label label:after,
.santd-col-24.santd-form-item-label label:after,
.santd-col-xl-24.santd-form-item-label label:after {
  display: none;
}
.santd-form-vertical .santd-form-item {
  padding-bottom: 8px;
}
.santd-form-vertical .santd-form-item-control {
  line-height: 1.5;
}
.santd-form-vertical .santd-form-explain,
.santd-form-vertical .santd-form-extra {
  margin-top: 2px;
  margin-bottom: -4px;
}
@media (max-width: 575px) {
  .santd-form-item-label,
  .santd-form-item-control-wrapper {
    display: block;
    width: 100%;
  }
  .santd-form-item-label {
    padding: 0 0 8px;
    margin: 0;
    display: block;
    text-align: left;
    line-height: 1.5;
  }
  .santd-form-item-label label:after {
    display: none;
  }
  .santd-col-xs-24.santd-form-item-label {
    padding: 0 0 8px;
    margin: 0;
    display: block;
    text-align: left;
    line-height: 1.5;
  }
  .santd-col-xs-24.santd-form-item-label label:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .santd-col-sm-24.santd-form-item-label {
    padding: 0 0 8px;
    margin: 0;
    display: block;
    text-align: left;
    line-height: 1.5;
  }
  .santd-col-sm-24.santd-form-item-label label:after {
    display: none;
  }
}
@media (max-width: 991px) {
  .santd-col-md-24.santd-form-item-label {
    padding: 0 0 8px;
    margin: 0;
    display: block;
    text-align: left;
    line-height: 1.5;
  }
  .santd-col-md-24.santd-form-item-label label:after {
    display: none;
  }
}
@media (max-width: 1199px) {
  .santd-col-lg-24.santd-form-item-label {
    padding: 0 0 8px;
    margin: 0;
    display: block;
    text-align: left;
    line-height: 1.5;
  }
  .santd-col-lg-24.santd-form-item-label label:after {
    display: none;
  }
}
@media (max-width: 1599px) {
  .santd-col-xl-24.santd-form-item-label {
    padding: 0 0 8px;
    margin: 0;
    display: block;
    text-align: left;
    line-height: 1.5;
  }
  .santd-col-xl-24.santd-form-item-label label:after {
    display: none;
  }
}
.santd-form-inline .santd-form-item {
  display: inline-block;
  margin-right: 16px;
  margin-bottom: 0;
}
.santd-form-inline .santd-form-item-with-help {
  margin-bottom: 24px;
}
.santd-form-inline .santd-form-item .santd-form-item-control-wrapper,
.santd-form-inline .santd-form-item .santd-form-item-label {
  display: inline-block;
  vertical-align: middle;
}
.santd-form-inline .santd-form-text {
  display: inline-block;
}
.santd-form-inline .has-feedback {
  display: inline-block;
}
.santd-form-inline .santd-form-explain {
  position: absolute;
}
.has-success.has-feedback .santd-form-item-children-icon,
.has-warning.has-feedback .santd-form-item-children-icon,
.has-error.has-feedback .santd-form-item-children-icon,
.is-validating.has-feedback .santd-form-item-children-icon {
  position: absolute;
  top: 50%;
  right: 0;
  visibility: visible;
  pointer-events: none;
  width: 32px;
  height: 20px;
  line-height: 20px;
  margin-top: -10px;
  text-align: center;
  font-size: 14px;
  animation: zoomIn 0.3s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  z-index: 1;
}
.has-success.has-feedback .santd-form-item-children-icon svg,
.has-warning.has-feedback .santd-form-item-children-icon svg,
.has-error.has-feedback .santd-form-item-children-icon svg,
.is-validating.has-feedback .santd-form-item-children-icon svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.has-success.has-feedback .santd-form-item-children-icon {
  animation-name: diffZoomIn1 !important;
  color: #52c41a;
}
.has-warning .santd-form-explain,
.has-warning .santd-form-split {
  color: #faad14;
  min-width: max-content;
}
.has-warning .santd-input,
.has-warning .santd-input:hover {
  border-color: #faad14;
}
.has-warning .santd-input:focus {
  border-color: #ffc53d;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(250, 173, 20, 0.2);
  border-right-width: 1px !important;
}
.has-warning .santd-input:not([disabled]):hover {
  border-color: #faad14;
}
.has-warning .santd-calendar-picker-open .santd-calendar-picker-input {
  border-color: #ffc53d;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(250, 173, 20, 0.2);
  border-right-width: 1px !important;
}
.has-warning .santd-input-prefix {
  color: #faad14;
}
.has-warning .santd-input-group-addon {
  color: #faad14;
  border-color: #faad14;
  background-color: #fff;
}
.has-warning .has-feedback {
  color: #faad14;
}
.has-warning.has-feedback .santd-form-item-children-icon {
  color: #faad14;
  animation-name: diffZoomIn3 !important;
}
.has-warning .santd-select-selection {
  border-color: #faad14;
}
.has-warning .santd-select-open .santd-select-selection,
.has-warning .santd-select-focused .santd-select-selection {
  border-color: #ffc53d;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(250, 173, 20, 0.2);
  border-right-width: 1px !important;
}
.has-warning .santd-calendar-picker-icon:after,
.has-warning .santd-time-picker-icon:after,
.has-warning .santd-picker-icon:after,
.has-warning .santd-select-arrow,
.has-warning .santd-cascader-picker-arrow {
  color: #faad14;
}
.has-warning .santd-input-number,
.has-warning .santd-time-picker-input {
  border-color: #faad14;
}
.has-warning .santd-input-number-focused,
.has-warning .santd-time-picker-input-focused,
.has-warning .santd-input-number:focus,
.has-warning .santd-time-picker-input:focus {
  border-color: #ffc53d;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(250, 173, 20, 0.2);
  border-right-width: 1px !important;
}
.has-warning .santd-input-number:not([disabled]):hover,
.has-warning .santd-time-picker-input:not([disabled]):hover {
  border-color: #faad14;
}
.has-warning .santd-cascader-picker:focus .santd-cascader-input {
  border-color: #ffc53d;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(250, 173, 20, 0.2);
  border-right-width: 1px !important;
}
.has-error .santd-form-explain,
.has-error .santd-form-split {
  color: #f5222d;
  min-width: max-content;
}
.has-error .santd-input,
.has-error .santd-input:hover {
  border-color: #f5222d;
}
.has-error .santd-input:focus {
  border-color: #ff4d4f;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(245, 34, 45, 0.2);
  border-right-width: 1px !important;
}
.has-error .santd-input:not([disabled]):hover {
  border-color: #f5222d;
}
.has-error .santd-calendar-picker-open .santd-calendar-picker-input {
  border-color: #ff4d4f;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(245, 34, 45, 0.2);
  border-right-width: 1px !important;
}
.has-error .santd-input-prefix {
  color: #f5222d;
}
.has-error .santd-input-group-addon {
  color: #f5222d;
  border-color: #f5222d;
  background-color: #fff;
}
.has-error .has-feedback {
  color: #f5222d;
}
.has-error.has-feedback .santd-form-item-children-icon {
  color: #f5222d;
  animation-name: diffZoomIn2 !important;
}
.has-error .santd-select-selection {
  border-color: #f5222d;
}
.has-error .santd-select-open .santd-select-selection,
.has-error .santd-select-focused .santd-select-selection {
  border-color: #ff4d4f;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(245, 34, 45, 0.2);
  border-right-width: 1px !important;
}
.has-error .santd-select.santd-select-auto-complete .santd-input:focus {
  border-color: #f5222d;
}
.has-error .santd-input-group-addon .santd-select-selection {
  border-color: transparent;
  box-shadow: none;
}
.has-error .santd-calendar-picker-icon:after,
.has-error .santd-time-picker-icon:after,
.has-error .santd-picker-icon:after,
.has-error .santd-select-arrow,
.has-error .santd-cascader-picker-arrow {
  color: #f5222d;
}
.has-error .santd-input-number,
.has-error .santd-time-picker-input {
  border-color: #f5222d;
}
.has-error .santd-input-number-focused,
.has-error .santd-time-picker-input-focused,
.has-error .santd-input-number:focus,
.has-error .santd-time-picker-input:focus {
  border-color: #ff4d4f;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(245, 34, 45, 0.2);
  border-right-width: 1px !important;
}
.has-error .santd-input-number:not([disabled]):hover,
.has-error .santd-time-picker-input:not([disabled]):hover {
  border-color: #f5222d;
}
.has-error .santd-mention-wrapper .santd-mention-editor,
.has-error .santd-mention-wrapper .santd-mention-editor:not([disabled]):hover {
  border-color: #f5222d;
}
.has-error .santd-mention-wrapper.santd-mention-active:not([disabled]) .santd-mention-editor,
.has-error .santd-mention-wrapper .santd-mention-editor:not([disabled]):focus {
  border-color: #ff4d4f;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(245, 34, 45, 0.2);
  border-right-width: 1px !important;
}
.has-error .santd-cascader-picker:focus .santd-cascader-input {
  border-color: #ff4d4f;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(245, 34, 45, 0.2);
  border-right-width: 1px !important;
}
.is-validating.has-feedback .santd-form-item-children-icon {
  display: inline-block;
  color: #1890ff;
}
.santd-advanced-search-form .santd-form-item {
  margin-bottom: 24px;
}
.santd-advanced-search-form .santd-form-item-with-help {
  margin-bottom: 5px;
}
.show-help-enter,
.show-help-appear {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.show-help-leave {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.show-help-enter.show-help-enter-active,
.show-help-appear.show-help-appear-active {
  animation-name: antShowHelpIn;
  animation-play-state: running;
}
.show-help-leave.show-help-leave-active {
  animation-name: antShowHelpOut;
  animation-play-state: running;
  pointer-events: none;
}
.show-help-enter,
.show-help-appear {
  opacity: 0;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
.show-help-leave {
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
@keyframes antShowHelpIn {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes antShowHelpOut {
  to {
    opacity: 0;
    transform: translateY(-5px);
  }
}
@keyframes diffZoomIn1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes diffZoomIn2 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes diffZoomIn3 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
